//1.盡量使用class，減少使用id。
//2.除了會更換圖片資料的地方外，盡量不要寫inner style。
//3.class命名規則，以'-'為主，結構不要太長最多3層，例: new-list、news-list-img。
//4.可以的話盡量使用語意化標籤，但是最好把父層也寫進去，例: news > article。
//5.更改此檔案時，必需要參與者一致同意才可更改。
//6.圖片檔名一律用有意義英文。

//顏色變數
$main-color:#54291c;
$nav-bg:rgba(84, 41, 28, 0.9);
$news-tag-f-bg:#AB3030;
$store-tag-f-bg:#96422D;
$title-bg:#D28E76;
$store-list-bg:#FBE6C3;
$body-bg:#FFFCF4;
$tag-bg:#C4C4C4;
$form-title-bg:#E0E0E0;
$form-bg:#F2F2F2;
$substrate-bg:rgba(255, 255, 255, 0.8);
$footer-bg:#596E79;
$footer-text:#ffffff;

//文字尺寸變數
$h1:2.8125rem;  //45px
$h2:2.25rem;    //36px
$h3:1.75rem;    //28px
$h4:1.625rem;   //26px
$h5:1.5rem;     //24px
$h6:1.375rem;   //22px
$h7:1.125rem;   //18px
$h8:1rem;       //16px
$h9:0.875rem;   //14px
$h10:0.75rem;   //12px

//css屬性變數
@mixin size($w, $h) {
    width: $w;
    height: $h;
};

@mixin flex($jc:center, $ai:center, $fl:flex) {
    display: $fl;
    justify-content: $jc;
    align-items: $ai;
};

@mixin font($fs, $ta:center, $lh:inherit, $ls:0.1em) {
    font-size: $fs;
    text-align: $ta;
    line-height: $lh;
    letter-spacing: $ls;
};

@mixin position($tp:0, $lf:0, $tx:-50%, $ty:-50%) {
    position: absolute;
    top:$tp;
    left:$lf;
    transform: translate($tx,$ty);
}

//元件變數
%header-section-btn{
    position: relative;
    width: 50%;
    display: flex;
    color: $store-list-bg;
    font-weight: 500;
    font-size: $h4;
    letter-spacing: 0.3em;
}

%header-section-btn-icon{
    position: relative;
    display: block;
    min-width: 40px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

%header-section-btn-title{
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

%title-cube {
    width: 60px;
    height: 60px;
    content: '';
    position: absolute;
    background: $title-bg;
    border-radius: 5px;
    transform: translate(-50px, -20px);
    z-index: -1;
};

%title-vertical-text{
    content: '';
    position: absolute;
    left: 0;
    transform: translate(-15%, -80%) rotate(90deg);
    letter-spacing: 0.1em;
}

%about-us-swiper-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $tag-bg;
    box-shadow: 1px 1px 3px black;
    transition: 0.8s ease-in-out;
    opacity: 0;
}

%date-btn{
    min-width: 50px;
    height: 30px;
    border-radius: 6px;
    border: 0;
    margin: 16px 8px 0 0;
    background-color: $form-bg;
    color: $store-tag-f-bg;
    font-size: $h10;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.2em;
    cursor: pointer;
}

%news-content-title-btn{
    height: 20px;
    margin:15px 0 0 18px;
    border: 0;
    background-color: $body-bg;
    font-size: 15px;
    color: $main-color;
    text-shadow: 0 2px $tag-bg;
    cursor: pointer;
}

%news-inf{
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 20px;
    display: flex;
    border-radius: 6px;
    background-color: $form-bg;
}

%news-inf-before{
    content: '';
    position: absolute;
    width: 20px;
    height: 100px;
    left: 0;
    background-color: $title-bg;
}

%news-inf-tag{
    width: 82px;
    height: 21px;
    margin-top: 15px;
    background-color: $news-tag-f-bg;
    text-align: center;
    line-height: 21px;
    letter-spacing: 0.2em;
    font-size: $h9;
    color: $body-bg;
}

