@import 'variable';

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: $body-bg;
    font-family: 'Noto Sans', sans-serif;
    color: $main-color;
}

h2 {
    margin: 0;
}

.logo-img {
    position: absolute;
    top: 50px;
    right: 250px;
}

.logo-text {
    position: absolute;
    top: 50px;
    right: 50px;
}

#goTopButton{
    @include size(80px, 80px);
    @include font($h6, center, 40px);
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $footer-text;
    color: $footer-bg;

    &::after{
        @include position(55%, 50%);
        content: 'Top';
    }
}

.loading-page {
    @include size(100%, 100vh);
    @include flex();
    position: relative;
    flex-direction: column;
    border: 20px solid $main-color;

    .container {
        transition: 1s ease-in-out;

        img {
            margin-right: 30px;
        }

        &.complete {
            opacity: 0;
        }

        .loading-bar {
            @include size(18vw, 3vh);
            position: relative;
            margin-top: 43px;
            background-color: $title-bg;
            border-radius: 20px;

            #loading {
                @include size(0%, 3vh);
                background-color: $store-tag-f-bg;
                border-radius: 20px;
            }

            #loading_percent {
                @include font($h6, end, 3vh);
                position: absolute;
                top: 0;
                right: 0;
                padding-right: 10px;
                color: #ffffff;
            }
        }
    }
}

.news {
    @include size(100%, 100vh);
    @include flex();
    position: relative;
    border: 20px solid $main-color;

    .effect-area {
        transition: 1s ease-in-out;
        animation: fadeout 2s;

        @keyframes fadeout {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .news-container {
            @include size(80vw, 76vh);

            .news-title {
                position: relative;
                padding-left: 60px;

                &::before {
                    @extend %title-cube;
                    @include size(60px, 60px);
                    transform: translate(-50px, -20px);
                    z-index: -1;
                }

                h2 {
                    @include font($h1, start, inherit, 0.3em);
                }

                span {
                    @include font($h5);

                    &::before {
                        @extend %title-vertical-text;
                        content: 'News';
                    }
                }
            }
        }
    }
}

.about-us {
    @include size(100%, 100vh);
    @include flex();
    position: relative;
    border: 20px solid $main-color;

    .about-us-container {
        @include size(80vw, 68vh);

        .about-us-title {
            position: relative;
            padding-left: 60px;

            &::before {
                @extend %title-cube;
                @include size(60px, 60px);
                transform: translate(-50px, -20px);
                z-index: -1;
            }

            h2 {
                @include font($h1, start, inherit, 0.3em);
            }

            span {
                @include font($h5);

                &::before {
                    @extend %title-vertical-text;
                    content: 'About';
                }
            }
        }

        article {
            @include flex();
            @include size(100%, 87%);
            position: relative;

            .about-us-swiper {
                @include size(52vw, 100%);
                overflow: hidden;

                .swiper-slide {
                    @include flex(start);

                    .img {
                        @include size(39vw, 78%);
                        display: block;
                        object-fit: cover;
                        background-size: cover;
                        background-position: center;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    }
                }

                .swiper-button-next {
                    @include size(50px, 50px);
                    @include position(50%, 40vw, 0, 0);

                    &::after {
                        @include size(100%, 100%);
                        content: '';
                        background-image: url(../img/aboutUs-swiper-right.png);
                        font-family: none;
                    }
                }

                .swiper-button-prev {
                    @include size(50px, 50px);
                    @include position(50%, -70px, 0, 0);

                    &::after {
                        @include size(100%, 100%);
                        content: '';
                        background-image: url(../img/aboutUs-swiper-left.png);
                        font-family: none;
                    }
                }

                .swiper-pagination {
                    bottom: 2vh;
                    left: -21vw;

                    span {
                        background-color: $title-bg;
                    }
                }
            }

            .about-us-content {
                @include size(32vw, 100%);
                @include flex(center, start);
                flex-direction: column;

                h3 {
                    @include font($h2, start, inherit, 0.3em);
                }

                p {
                    @include size(100%, 300px);
                    @include font($h5, start, 60px, normal);
                    margin: 0;
                }
            }
        }
    }

}

footer{
    @include size(100%, 700px);
    @include flex();
    background-color: $footer-bg;
    position: relative;
    color: $footer-text;

    .footer-logo-img{
        @include position(550px, 160px, 0, 0);
    }
    
    .footer-logo-text{
        @include position(550px, 160px, 90%, 0);
    }

    .footer-container{
        @include size(83%, 622px);
        overflow:hidden;
        margin-top: 40px;

        h2{
            @include font($h2, start, 49px, 0.15em);
        }

        article{
            @include size(100%, 519px);
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            h3{
                @include font($h4, start, inherit, 0.15em);
            }

            .inf-detil{
                @include font($h6, start, 30px, 0.15em);
                padding-left: 28px;

                & > div:nth-child(2){
                    padding-left: 60.5px;
                }
            }

            .open-detil{
                @include size(238px, 100%);
                padding-left: 18px;

                .date-box{
                    @include flex(start, start);
                    @include font($h6, center, 30px, 0.15em);

                    .date-box{
                        @include size(80px, 40px);
                        @include flex();
                        border: $footer-text 1px solid;
                        border-radius: 60px;
                    }

                    span{
                        @include size(60px, 40px);
                        line-height: 40px;
                    }
                }

                time{
                    @include flex();
                    @include font($h6, center, 30px, 0.15em);
                    padding-top: 13px;
                }
            }

            .fb-page{
                margin-top: 27px;
            }
        }

        > p{
            @include font($h6, center, 30px, 0.05em);
        }
    }
}