@import 'variable';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $body-bg;
}

h2 {
    margin: 0;
}

.about-us {
    @include size(100%, 100vh);
    @include flex();
    border: 20px solid $main-color;
    font-family: 'Noto Sans', sans-serif;
    color: $main-color;

    .logo-img {
        position: absolute;
        top: 50px;
        right: 250px;
    }

    .logo-text {
        position: absolute;
        top: 50px;
        right: 50px;
    }

    .container {
        @include size(85vw, 68vh);

        .about-us-title {
            position: relative;
            padding-left: 60px;

            &::before {
                @extend %title-cube;
                @include size(60px, 60px);
                transform: translate(-50px, -20px);
                z-index: -1;
            }

            h2 {
                @include font($h1, start);
                letter-spacing: 0.3em;
            }

            span {
                @include font($h5);
                letter-spacing: 0.1em;

                &::before {
                    content: 'About';
                    position: absolute;
                    left: 0;
                    transform: translate(-15%, -80%) rotate(90deg);
                    letter-spacing: 0.1em;
                }
            }
        }

        article {
            @include flex();
            @include size(100%, 87%);

            .about-us-swiper {
                @include size(52vw, 100%);
                overflow: hidden;
                position: relative;

                .swiper-slide {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;

                    .img {
                        @include size(39vw, 78%);
                        display: block;
                        object-fit: cover;
                    }
                }

                .swiper-button-next{
                    color: $main-color;

                    &::after{
                        font-size: 30px;
                        font-weight: 900;
                    }
                }

                .swiper-button-prev{
                    color: $main-color;

                    &::after{
                        font-size: 30px;
                        font-weight: 900;
                    }
                }

                .swiper-pagination{

                    span{
                       background-color: $title-bg;
                    }
                }
            }

            .about-us-content {
                @include size(32vw, 100%);
                @include flex();
                flex-direction: column;

                h3 {
                    @include font($h2, start);
                    letter-spacing: 0.3em;
                }

                p {
                    @include size(100%, 300px);
                    @include font($h5, start, 60px);
                }
            }
        }
    }
}