@import 'group_web_variable';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $body-bg;
    font-family: 'Noto Sans', sans-serif;
    color: $main-color;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $main-color;

    &:hover {
        text-decoration: none;
        color: $main-color;
    }
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

ul {
    list-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.fp-tableCell {
    @include flex();
    height: 96.296vh !important;
}

.logo-link {
    @include size(15vw, 5.729vw);
    position: absolute;
    right: 5vmin;
    top: 5vmin;
    z-index: 1;

    @include w375 {
        @include size(auto, auto);
        top: 12px;
        right: 12px;
    }

    .logo-img {
        @include size(5.729vw, 5.729vw);
        margin-right: 0.521vw;

        @include w375 {
            @include size(35px, 39px);
        }
    }

    .logo-text {
        @include size(7.552vw, 4.48vw);

        @include w375 {
            @include size(56px, 38px);
        }
    }
}

#goTopButton {
    @include size(4.17vw, 4.17vw);
    @include font($h6, center, 40px);
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $footer-text;
    color: $footer-bg;

    &::after {
        @include position(55%, 50%);
        content: 'Top';
    }
}

.loading-page {
    @include size(100%, 100vh);
    @include flex();
    position: relative;
    flex-direction: column;
    border: 1.04vw solid $main-color;

    .container {
        transition: 1s ease-in-out;

        img {
            margin-right: 30px;
        }

        &.complete {
            opacity: 0;
        }

        .loading-bar {
            @include size(18vw, 3vh);
            position: relative;
            margin-top: 43px;
            background-color: $title-bg;
            border-radius: 20px;

            #loading {
                @include size(0%, 3vh);
                background-color: $store-tag-f-bg;
                border-radius: 20px;
            }

            #loading_percent {
                @include font($h6, end, 3vh);
                position: absolute;
                top: 0;
                right: 0;
                padding-right: 10px;
                color: #ffffff;
            }
        }
    }
}

.header-shady{
    
    &::after{

        @include w768{
            @include size(100vw, 100vh);
            content: '';
            position: absolute;
            right: -100vw;
            background-color: $nes-aside-tag;
            opacity: 0.4;
            z-index: -99;
            animation: shady 1s ease-in-out;

            @keyframes shady {
                0%{
                    opacity: 0;
                }
    
                100%{
                    opacity: 0.4;
                }
            }
        }  
    }
}

header {
    @include flex();
    min-height: 100vh;
    position: fixed;
    z-index: 50;

    nav {
        @include size(1.93vw, 70vh);
        @include flex;
        min-width: 30px;
        position: relative;
        border-radius: 10px;
        background-color: $main-color;
        box-shadow: 0 5px 15px;
        overflow: hidden;
        transition: 1s;

        @include w768{
            @include size(50px, 50px);
            border-radius: 5px;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: none;
        }

        ul {
            display: none;
            width: 10vw;
            padding: 0;
            z-index: 20;
            list-style: none;

            @include w1024 {
                width: 15vw;
            }

            @include w768{
                width: 18vw;
            }

            @include w576{
                width: 110px;
            }

            @include w375 {
                width: 45%;
            }

            li {
                position: relative;
                width: 100%;
                border-radius: 10px;

                &:hover {
                    background-color: #efefef;

                    a {
                        color: $nav-bg;
                        font-weight: bold;
                    }
                }

                a {
                    @extend %header-section-btn;

                    .icon {
                        @extend %header-section-btn-icon;
                    }

                    .title {
                        @extend %header-section-btn-title;
                    }
                }
            }
        }

        .nav-img {
            @include size(5.8vw, 109px);
            min-width: 50px;
            display: none;
            right: 3vw;
            bottom: 3vw;
            background-image: url(../img/logo-bg-img.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;

            @include w576{
                right: 50%;
                bottom: 15%;
                transform: translateX(50%);
            }

            @include w375 {
                @include size(52px, 60px);
                right: 50%;
                bottom: 15%;
                transform: translateX(50%);
            }
        }
    }

    nav.active {
        @include size(50vw, 100vh);
        background-color: $nav-bg;

        @include w768 {
            width: 65vw;
        }
    }

    .toggle {
        @include size(30px, 80vh);
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        cursor: pointer;

        &::before {
            @include size(12.5px, 25px);
            content: "";
            position: absolute;
            left: 15%;
            top: 43%;
            background-image: url(../img/nav-right.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            line-height: 20px;
            text-align: center;

            @include w768 {
                @include size(37px, 50px);
                background-image: url(../img/nav-hamburger.png);
                top: 0;
                left: -42%;
            }
        }
    }

    .toggle.active {
        height: 100vh;

        &::before {
            top: 50%;
            background-image: url(../img/nav-left.png);

            @include w768 {
                top: 1vh;
                left: -57vw;
                background-image: url(../img/nav-x.png);
            }

            @include w375 {
                top: 0.4vh;
                left: -206px;
                background-image: url(../img/nav-x.png);
            }
        }
    }

    .ulbar.active {
        display: block;
    }

    .nav-img.active {
        display: block;
    }
}

#about-us {
    @include size(100%, 100vh);
    @include flex();
    position: relative;
    border: 1.04vw solid $main-color;

    @include w375 {
        border: 10px solid $main-color;
    }

    .effect-area {
        @include flex();
        transition: 1s ease-in-out;
        animation: fadeout 2s;

        @keyframes fadeout {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .about-us-container {
            @include size(70vw, 70vh);
            @include flex($ai:start);
            flex-direction: column;

            @include w1366 {
                @include size(80vw, 70vh);
            }

            @include w1024{
                height: 80vh;
                justify-content: flex-start;
            }

            @include w375 {
                @include size(100%, 87vh);
                padding-top: 30px;
            }

            .about-us-title {
                position: relative;
                padding-left: 3.125vw;
                margin-bottom: 5.5vmin;

                @include w1366{
                    margin: 0;
                    padding-left: 40px;
                }

                @include w375 {
                    height: 30px;
                    padding-left: 20px;
                }

                &::before {
                    @extend %title-cube;
                }

                h2 {
                    @include font($h1, start, inherit, 0.3em);
                    @include w1366{
                        font-size: 1.8rem;
                    }
                    @include w375 {
                        font-size: 1rem;
                    }
                }

                span {
                    @include font($h5);
                    @include w1366{
                        font-size: 1rem;
                    }
                    @include w375 {
                        letter-spacing: 0;
                        font-size: 0.7rem;
                        display: inline-block;
                        transform: translate(-15%, -50%) scale(0.7);
                    }

                    &::before {
                        @extend %title-vertical-text;
                        content: 'About';
                    }
                }
            }

            article {
                @include flex(space-between);
                @include size(100%, 470px);

                @include w1366 {
                    @include size(95%, 50vh);
                }

                @include w1024 {
                    @include size(100%, 50vh);
                    display: block;
                }

                @include w375 {
                    @include size(100%, 60%);
                    display: block;
                }

                .about-us-swiper {
                    @include size(35vw, 100%);
                    position: relative;
                    overflow: hidden;

                    @include w1366 {
                        width: 42vw;
                    }

                    @include w1024 {
                        width: 80vw;
                    }

                    @include w375 {
                        @include size(80vw, 240px);
                    }

                    &:hover .swiper-button {
                        opacity: 0.8;

                        @include w768{
                            opacity: 0;
                        }
                    }

                    .about-us-slide {
                        @include flex(start);

                        .img {
                            @include size(100%, 85%);
                            display: block;
                            object-fit: cover;
                            background-size: cover;
                            background-position: center;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        }
                    }

                    .swiper-button-next {
                        @extend %about-us-swiper-button;
                        right: 0.5vw;

                        &::after {
                            @include size(2.6vw, 2.6vw);
                            content: '';
                            transform: translateX(3px);
                            background-image: url(../img/aboutUs-swiper-right.png);
                            background-size: cover;
                            font-family: none;

                            @include w1024{
                                transform: translateX(1px);
                            }
                        }
                    }

                    .swiper-button-prev {
                        @extend %about-us-swiper-button;

                        &::after {
                            @include size(2.6vw, 2.6vw);
                            content: '';
                            transform: translateX(-3px);
                            background-image: url(../img/aboutUs-swiper-left.png);
                            background-size: cover;
                            font-family: none;

                            @include w1024{
                                transform: translateX(-1px);
                            }
                        }
                    }

                    .swiper-pagination {
                        bottom: 0;

                        span {
                            @include size(8px, 8px);
                            background-color: $title-bg;

                            @include w375 {
                                @include size(5px, 5px);
                            }
                        }
                    }
                }

                .about-us-content {
                    @include size(28vw, 100%);
                    @include flex(center, start);
                    @include font($h6, start, 5.56vh, normal);
                    font-weight: bolder;
                    flex-direction: column;

                    @include w1024{
                        @include size(100%, auto);
                        font-size: $h3;
                    }

                    @include w768{
                        font-size: $h2;
                    }

                    @include w375 {
                        @include size(80vw, 40vh);
                        padding: 0 20px;
                        text-indent: 1.5rem;
                    }
                }
            }
        }
    }
}

#news {
    @include size(100%, 100vh);
    @include flex();
    position: relative;
    border: 1.04vw solid $main-color;

    .news-container {
        @include size(70vw, 76vh);

        .news-title {
            position: relative;
            padding-left: 3.125vw;

            @include w1366{
                margin: 0;
                padding-left: 40px;
            }

            @include w375 {
                height: 30px;
                padding-left: 20px;
            }

            &::before {
                @extend %title-cube;
            }

            h2 {
                @include font($h1, start, inherit, 0.3em);
                @include w1366{
                    font-size: 1.8rem;
                }
                @include w375 {
                    font-size: 1rem;
                }
            }

            span {
                @include font($h5);
                @include w1366{
                    font-size: 1rem;
                }
                @include w375 {
                    letter-spacing: 0;
                    font-size: 0.7rem;
                    display: inline-block;
                    transform: translate(-15%, -50%) scale(0.7);
                }

                &::before {
                    @extend %title-vertical-text;
                    content: 'NEWS';
                }
            }
        }

        article {
            padding: 7.4vh 0 0 1.67vw;

            .date-title {
                @include size(5.21vw, 2.78vh);
                @include font($h8, center, 2.78vh, 0.2em);
                border-radius: 6px;
                background-color: $main-color;
                color: $store-list-bg;
            }

            .date-btns {
                @include flex(start);

                .focus-change {
                    background-color: $title-bg;
                    color: $footer-text;
                }

                button {
                    @extend %date-btn;

                    &:hover {
                        background-color: $title-bg;
                        color: $footer-text;
                    }
                }
            }

            .content-title {
                @include flex(start);
                margin: 6.5vh 0 4.5vh 0;

                h3 {
                    @include font($h1, center, 5.56vh, 0.2em);
                    position: relative;
                    padding-left: 0.573vw;

                    &::before {
                        @include size(6.35vw, 2.22vh);
                        content: '';
                        position: absolute;
                        bottom: 0;
                        transform: translate(-10%, -50%);
                        border-radius: 6px;
                        background-color: $store-list-bg;
                        z-index: -1;
                    }
                }

                div {
                    @include font($h7, center, inherit, 0.2em);
                    margin-left: 1.04vw;
                    padding-top: 1.39vh;
                    font-weight: bold;

                    &:last-child() {
                        margin: 0;
                    }
                }
            }

            .content-infs {

                .content-inf {
                    @extend %news-inf;
                    box-shadow: 0 3px $tag-bg;

                    &::before {
                        @extend %news-inf-before;
                    }

                    &:hover {
                        background-color: $form-title-bg;

                        &::before {
                            background-color: darken($title-bg, 5%);
                        }
                    }

                    &:active {
                        box-shadow: 0 0 $tag-bg;
                        transform: translateY(3px);
                    }

                    .inf-date {
                        @include size(5.57vw, 100%);
                        padding-left: 1.98vw;
                        font-weight: bold;

                        .during {
                            @include flex(start);
                            padding-top: 5px;
                        }

                        >span {
                            @include font($h7, start, 20px, 0.2em);
                        }

                    }

                    .inf-detail {
                        flex: 1;
                        padding-left: 1.04vw;

                        .inf-tag {
                            @extend %news-inf-tag;
                        }

                        h4 {
                            @include font($h3, start, 5.56vh, 0.2em);
                            margin: 0
                        }

                    }

                    >span {
                        @include size(4.17vw, 100%);
                        @include font($h6, start, 9.26vh, 0.2em);
                        @include flex();
                        margin-right: 1.56vw;

                        i {
                            margin-left: 0.78vw;
                            transform: translateY(20%);
                            font-size: $h8;
                        }
                    }

                    &:nth-child(2) .inf-tag {
                        background-color: $store-tag-f-bg;
                    }
                }
            }
        }
    }
}

#store {
    @include size(100%, 100vh);
    @include flex();
    position: relative;
    border: 1.04vw solid $main-color;

    .store-container {
        @include size(86vw, 80vh);

        .store-title {
            position: relative;
            padding-left: 3.125vw;

            @include w1366{
                margin: 0;
                padding-left: 40px;
            }

            @include w375 {
                height: 30px;
                padding-left: 20px;
            }

            &::before {
                @extend %title-cube;
            }

            h2 {
                @include font($h1, start, inherit, 0.3em);
                @include w1366{
                    font-size: 1.8rem;
                }
                @include w375 {
                    font-size: 1rem;
                }
            }

            span {
                @include font($h5);
                @include w1366{
                    font-size: 1rem;
                }
                @include w375 {
                    letter-spacing: 0;
                    font-size: 0.7rem;
                    display: inline-block;
                    transform: translate(-15%, -50%) scale(0.7);
                }

                &::before {
                    @extend %title-vertical-text;
                    content: 'SHOP';
                }
            }
        }

        article {
            @include flex();
            padding-top: 4.63vh;
            padding-left: 5.73vw;

            .shop-window {
                @include size(56vw, 36.5625vw);
                @include flex();
                max-height: 61vh;
                margin-right: 5.2vw;
                position: relative;

                >img {
                    @include size(56vw, 36.5625vw);
                    max-height: 61vh;
                    position: relative;
                    z-index: 48;

                    &:hover {

                        ~ul {
                            opacity: 1;
                        }

                        ~.window-title {
                            opacity: 1;
                        }

                        ~.hide-area>.figure-box figure {

                            &::before {
                                opacity: 0.3;
                            }
                        }
                    }
                }

                .window-title {
                    @include font($h4, center, 3.375vw);
                    position: absolute;
                    border-radius: 3px;
                    padding: 0 1.04vw;
                    background-color: $substrate-bg;
                    color: black;
                    font-weight: bolder;
                    transform: translateY(-100%);
                    transition: 1s ease-in-out;
                    z-index: 3;
                    opacity: 0;
                }

                .title-hide {
                    display: none;
                }

                >ul {
                    position: absolute;
                    left: 24.5vw;
                    padding: 0;
                    z-index: 49;
                    opacity: 0;
                    transition: 1s ease-in-out;

                    &:hover {
                        opacity: 1;

                        ~.hide-area>.figure-box figure::before {
                            opacity: 0.3;
                        }

                        ~.window-title {
                            opacity: 1;
                        }
                    }

                    .check-btn {
                        @include size(6vw, 2.5vw);
                        @include font($h4, center, 2.5vw);
                        position: absolute;
                        transform: translate(-50%, -10%);
                        box-shadow: $nav-bg 0px 0px 30px;
                        border-radius: 5px;
                        color: $footer-text;
                        cursor: pointer;
                        background-color: #ffffff3b;
                    }

                    li:nth-child(2)>.check-btn {
                        transform: translate(60%, -10%);
                    }
                }

                .check-list-hide {
                    display: none;
                }

                .hide-area {
                    @include size(30.47vw, 22.135vw);
                    position: absolute;
                    overflow: hidden;
                    transform: translateY(-19%);

                    .figure-box {
                        display: flex;
                        position: absolute;
                        transition: 1s ease-in-out;

                        .tap-change {
                            display: flex;

                            figure {
                                @include size(30.47vw, 22.135vw);
                                max-height: 43vh;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                transition: 1s ease-in-out;

                                &::before {
                                    @include size(100%, 100%);
                                    content: '';
                                    position: absolute;
                                    opacity: 0;
                                    background-color: black;
                                    transition: 1s ease-in-out;
                                }
                            }
                        }

                        .photo-none {
                            display: none;
                        }
                    }
                }
            }

            nav {
                width: 17.7vw;
                font-weight: bold;
                padding-bottom: 5.56vh;

                h3 {
                    @include font($h2, $ls:0.3em);
                }

                .nav-tap-list {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 0.78vw;
                    margin-bottom: 2.31vh;

                    .nav-tap {
                        @extend %shop-nav-tap;
                    }

                    .tap-active {
                        background-color: $store-tag-f-bg;
                        color: $store-list-bg;
                    }
                }

                .shop-list {
                    @include size(16.9vw, 49vh);
                    padding: 3.7vh 0 0 2.08vw;
                    background-color: $store-list-bg;
                    box-shadow: 7px 7px 0 7px $title-bg;

                    >div {
                        margin-bottom: 2.8vh;

                        span {
                            @include font($h6, start);
                            position: relative;
                            cursor: pointer;

                            &:hover {
                                border-bottom: none;

                                &::before {
                                    @include size(100%, 3px);
                                    content: '';
                                    position: absolute;
                                    bottom: -3px;
                                    background-color: $store-tag-f-bg;
                                    animation: border 1s ease-in-out;

                                    @keyframes border {
                                        0% {
                                            width: 0px;
                                        }

                                        100% {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }

                        .bottom-line {
                            border-bottom: solid 3px $store-tag-f-bg;
                        }
                    }
                }

                .list-active {
                    display: none;
                }
            }

        }
    }
}

#view {
    @include size(100%, 100vh);
    @include flex;
    border: 1.04vw solid $main-color;
    position: relative;
    overflow: hidden;

    .view-container {
        @include size(80vw, 80vh);

        .view-title {
            position: relative;
            padding-left: 3.125vw;

            @include w1366{
                margin: 0;
                padding-left: 40px;
            }

            @include w375 {
                height: 30px;
                padding-left: 20px;
            }

            &::before {
                @extend %title-cube;
            }

            h2 {
                @include font($h1, start, inherit, 0.3em);
                @include w1366{
                    font-size: 1.8rem;
                }
                @include w375 {
                    font-size: 1rem;
                }
            }

            span {
                @include font($h5);
                @include w1366{
                    font-size: 1rem;
                }
                @include w375 {
                    letter-spacing: 0;
                    font-size: 0.7rem;
                    display: inline-block;
                    transform: translate(-15%, -50%) scale(0.7);
                }

                &::before {
                    @extend %title-vertical-text;
                    content: 'SPOTS';
                }
            }
        }

        .view-main {
            @include size(100vw, 90vh);
            padding: 10px 0;
            position: absolute;
            left: 0;

            .swiper-container {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                position: relative;

                .swiper-wrapper {
                    padding: 1.85vh 0;

                    .swiper-slide {
                        @include size(14.58vw, 43vh);
                        margin-top: 15.74vh;
                        border-radius: 20px;
                        text-align: center;
                        font-size: $h7;

                        .view-card {
                            @include size(14.58vw, 43vh);
                            background-color: $title-bg;
                            border-radius: 20px;
                            text-align: center;
                            font-size: $h10;
                            color: $body-bg;
                            line-height: 2.78vh;
                            padding-top: 2.31vh;

                            span {
                                display: block;
                                margin: 10px auto 2.31vh;
                                @include size(11.98vw, 16.67vh);
                                background-position: center;
                                background-size: cover;
                            }

                            p {
                                padding: 0 1.6vw;
                            }

                            p:first-child {
                                font-size: $h9;
                            }

                            p:last-child {
                                letter-spacing: 0.2em;
                                line-height: 2.31vh;
                            }
                        }
                    }

                    .swiper-slide-active {
                        transform: scale(1.2);
                        transition: .4s;
                    }

                }

                .swiper-button-next {
                    @include size(3.125vw, 3.125vw);
                    position: absolute;
                    top: 38%;
                    right: 36.5%;

                    &::after {
                        @include size(3.125vw, 3.125vw);
                        content: '';
                        background-image: url(../img/view-prev.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        font-family: none;
                    }
                }

                .swiper-button-prev {
                    @include size(3.125vw, 3.125vw);
                    position: absolute;
                    top: 38%;
                    left: 38%;

                    &::after {
                        @include size(3.125vw, 3.125vw);
                        content: '';
                        background-image: url(../img/view-next.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        font-family: none;
                    }
                }
            }
        }
    }
}

#traffic {
    @include size(100%, 100vh);
    border: 1.04vw solid $main-color;
    @include flex;
    position: relative;

    .traffic-container {
        @include size(80vw, 80vh);

        .traffic-title {
            position: relative;
            padding-left: 3.125vw;

            @include w1366{
                margin: 0;
                padding-left: 40px;
            }

            @include w375 {
                height: 30px;
                padding-left: 20px;
            }

            &::before {
                @extend %title-cube;
            }

            h2 {
                @include font($h1, start, inherit, 0.3em);
                @include w1366{
                    font-size: 1.8rem;
                }
                @include w375 {
                    font-size: 1rem;
                }
            }

            span {
                @include font($h5);
                @include w1366{
                    font-size: 1rem;
                }
                @include w375 {
                    letter-spacing: 0;
                    font-size: 0.7rem;
                    display: inline-block;
                    transform: translate(-15%, -50%) scale(0.7);
                }

                &::before {
                    @extend %title-vertical-text;
                    content: 'About';
                }
            }
        }

        .traffic-main {
            @include size(51.56vw, 74vh);
            margin: 6.11vh auto 0 auto;

            .traffic-bus {
                width: 100%;
                display: flex;

                .traffic-logo {
                    @include size(9.896vw, 9.896vw);

                    .traffic-icon {
                        @extend %title-tra-circle;
                    }

                    p {
                        @extend %title-tra-logotext;
                    }
                }

                .traffic-content {
                    height: 17.59vh;
                    display: flex;
                    align-items: center;

                    .traffic-content-text {
                        @include size(35.67vw, 14.81vh);
                        @extend %title-tra-contentarea;

                        p {
                            @extend %title-tra-contenttext;
                            line-height: 4.17vh;
                        }

                        span {
                            display: inline-block;
                            @include size(10.1vw, 4.44vh);
                            border-bottom: 24px solid $store-list-bg;
                            text-align: center;
                            margin: 0 0 9px 2.81vw;

                            p {
                                margin: 0px;
                                line-height: 5.56vh;
                            }
                        }

                    }
                }
            }

            .traffic-car {
                width: 100%;
                margin-top: 5.56vh;
                display: flex;

                .traffic-logo {
                    @include size(9.896vw, 9.896vw);

                    .traffic-icon {
                        @extend %title-tra-circle;
                    }

                    p {
                        @extend %title-tra-logotext;
                    }
                }

                .traffic-content {
                    height: 17.59vh;
                    display: flex;
                    align-items: center;

                    .traffic-content-text {
                        @include size(35.67vw, 14.81vh);
                        @extend %title-tra-contentarea;
                        display: flex;
                        align-items: center;

                        p {
                            @extend %title-tra-contenttext;
                            line-height: 4.17vh;
                        }
                    }
                }
            }

            .traffic-bike {
                width: 100%;
                margin-top: 5.56vh;
                display: flex;

                .traffic-logo {
                    @include size(9.896vw, 9.896vw);

                    .traffic-icon {
                        @extend %title-tra-circle;
                    }

                    p {
                        @extend %title-tra-logotext;
                    }
                }

                .traffic-content {
                    height: 17.59vh;
                    display: flex;
                    align-items: center;

                    .traffic-content-text {
                        @include size(35.67vw, 14.81vh);
                        @extend %title-tra-contentarea;
                        display: flex;
                        align-items: center;

                        p {
                            @extend %title-tra-contenttext;
                            line-height: 4.17vh;
                        }

                        a {
                            @extend %title-tra-contenttext;
                            margin-left: 1.15vw;
                            color: $store-tag-f-bg;
                            line-height: 5.56vh;
                        }
                    }
                }
            }
        }
    }
}

#contact {
    @include size(100%, 100vh);
    @include flex();
    border: 1.04vw solid $main-color;
    position: relative;

    .contact-container {
        @include size(80vw, 80vh);

        .contact-title {
            position: relative;
            padding-left: 3.125vw;

            @include w1366{
                margin: 0;
                padding-left: 40px;
            }

            @include w375 {
                height: 30px;
                padding-left: 20px;
            }

            &::before {
                @extend %title-cube;
            }

            h2 {
                @include font($h1, start, inherit, 0.3em);
                @include w1366{
                    font-size: 1.8rem;
                }
                @include w375 {
                    font-size: 1rem;
                }
            }

            span {
                @include font($h5);
                @include w1366{
                    font-size: 1rem;
                }
                @include w375 {
                    letter-spacing: 0;
                    font-size: 0.7rem;
                    display: inline-block;
                    transform: translate(-15%, -50%) scale(0.7);
                }

                &::before {
                    @extend %title-vertical-text;
                    content: 'About';
                }
            }
        }

        .contact-main {
            @include size(52.08vw, 74.07vh);
            background-color: $form-bg;
            margin: auto;
            border-radius: 10px;
            position: relative;

            .contact-form-title {
                @include size(100%, 9.26vh);
                background-color: $form-title-bg;
                border-radius: 10px 10px 0 0;
                @include flex;

                .form-text {

                    h2 {
                        font-size: $h3;
                        line-height: $h3;
                        letter-spacing: 0.3em;

                    }

                    p {
                        font-size: $h7;
                        line-height: $h3;
                        letter-spacing: 0.05em;
                    }
                }

            }

            .contact-form-main {
                @include flex();
                padding-top: 6.57vh;

                .contact-form {
                    width: 28.65vw;
                    padding: 2px;

                    .form-type {
                        @include size(7.81vw, 3.8vh);
                        background-color: $title-bg;
                        border-radius: 5px;
                        color: $footer-text;
                        position: absolute;
                        top: 12.96vh;
                        right: 2.24vw;
                    }


                    p {
                        font-size: $h7;
                        line-height: 3.7vh;
                        letter-spacing: 0.2em;
                        color: $main-color;
                        margin-left: 8px;
                    }

                    input {
                        @include size(28.44vw, 3.7vh);
                        border: 2px solid $form-title-bg;

                    }

                    select {
                        @include size(10.05vw, 3.7vh);
                        @include font($h6);
                        border-radius: 4px;
                        border: 2px solid $form-title-bg;
                        background-color: $footer-text;
                        color: $main-color;

                        option {
                            @include size(10.05vw, 3.7vh);
                        }
                    }

                    textarea {
                        @include size(28.44vw, 12.5vh);
                        border-radius: 6px;
                        border: 2px solid $form-title-bg;
                    }

                    .form-sendout {
                        @include position(67.3vh, 26vw);
                        @include size(12.34vw, 4.63vh);
                        @include font($h6, center, inherit, 0.2em);
                        // transform:translate(10%,10%);
                        background-color: $title-bg;
                        border-radius: 6px;
                        color: $footer-text;
                    }

                    .form-storename {
                        margin-bottom: 1.39vh;
                    }

                    .form-producttype {
                        margin-bottom: 3.24vh;

                        p {
                            line-height: 5.56vh;
                        }
                    }
                }
            }

        }
    }
}

footer {
    @include size(100%, 64.81vh);
    @include flex();
    background-color: $footer-bg;
    position: relative;
    color: $footer-text;

    .footer-logo-img {
        @include size(4.84vw, 4.84vw);
        @include position(50.92vh, 8.3vw, 0, 0);
    }

    .footer-logo-text {
        @include size(7.55vw, 4.48vw);
        @include position(50.92vh, 8.3vw, 90%, 0);
    }

    .footer-container {
        @include size(83%, 57.6vh);
        overflow: hidden;
        margin-top: 3.7vh;

        h2 {
            @include font($h2, start, 4.53vh, 0.15em);
            margin-bottom: 6.48vh;
        }

        article {
            @include size(100%, 43.99vh);
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            h3 {
                @include font($h4, start, inherit, 0.15em);
            }

            .inf-detil {
                @include font($h6, start, 2.78vh, 0.15em);
                padding-left: 28px;

                &>div:nth-child(2) {
                    padding-left: 3.151vw;
                }
            }

            .open-detil {
                @include size(12.4vw, 100%);
                padding-left: 18px;

                .date-box {
                    @include flex(start, start);
                    @include font($h6, center, 2.78vh, 0.15em);

                    .date-box {
                        @include size(4.17vw, 3.7vh);
                        @include flex();
                        border: $footer-text 1px solid;
                        border-radius: 60px;
                    }

                    span {
                        @include size(3.125vw, 3.7vh);
                        line-height: 3.7vh;
                    }
                }

                time {
                    @include flex();
                    @include font($h6, center, 2.78vh, 0.15em);
                    padding-top: 13px;
                }
            }
        }

        >p {
            @include font($h6, center, 2.78vh, 0.05em);
            margin: 0;
        }
    }
}