@import 'variable';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $body-bg;
    font-family: 'Noto Sans', sans-serif;
    color: $main-color;
}

h2 {
    margin: 0;
}

.logo-img {
    position: absolute;
    top: 50px;
    right: 250px;
}

.logo-text {
    position: absolute;
    top: 50px;
    right: 50px;
}

.loading-page {
    @include size(100%, 100vh);
    @include flex();
    position: relative;
    flex-direction: column;
    border: 20px solid $main-color;

    .container {
        transition: 1s ease-in-out;

        img {
            margin-right: 30px;
        }

        &.complete {
            opacity: 0;
        }

        .loading-bar {
            @include size(18vw, 3vh);
            position: relative;
            margin-top: 43px;
            background-color: $title-bg;
            border-radius: 20px;

            #loading {
                @include size(0%, 3vh);
                background-color: $store-tag-f-bg;
                border-radius: 20px;
            }

            #loading_percent {
                @include font($h6, end, 3vh);
                position: absolute;
                top: 0;
                right: 0;
                padding-right: 10px;
                color: #ffffff;
            }
        }
    }
}

.news {
    @include size(100%, 100vh);
    @include flex();
    position: relative;
    border: 20px solid $main-color;

    .effect-area {
        transition: 1s ease-in-out;
        animation: fadeout 2s;
        
        @keyframes fadeout {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .container {
            @include size(80vw, 76vh);

            .news-title {
                position: relative;
                padding-left: 60px;

                &::before {
                    @extend %title-cube;
                    @include size(60px, 60px);
                    transform: translate(-50px, -20px);
                    z-index: -1;
                }

                h2 {
                    @include font($h1, start);
                    letter-spacing: 0.3em;
                }

                span {
                    @include font($h5);
                    letter-spacing: 0.1em;

                    &::before {
                        content: 'News';
                        position: absolute;
                        left: 0;
                        transform: translate(-15%, -80%) rotate(90deg);
                        letter-spacing: 0.1em;
                    }
                }
            }
        }
    }
}

.about-us {
    @include size(100%, 100vh);
    @include flex();
    position: relative;
    border: 20px solid $main-color;
    transition: 1s ease-in-out;

    .container {
        @include size(80vw, 68vh);

        .about-us-title {
            position: relative;
            padding-left: 60px;

            &::before {
                @extend %title-cube;
                @include size(60px, 60px);
                transform: translate(-50px, -20px);
                z-index: -1;
            }

            h2 {
                @include font($h1, start);
                letter-spacing: 0.3em;
            }

            span {
                @include font($h5);
                letter-spacing: 0.1em;

                &::before {
                    content: 'About';
                    position: absolute;
                    left: 0;
                    transform: translate(-15%, -80%) rotate(90deg);
                    letter-spacing: 0.1em;
                }
            }
        }

        article {
            @include flex();
            @include size(100%, 87%);

            .about-us-swiper {
                @include size(52vw, 100%);
                overflow: hidden;

                .swiper-slide {
                    @include flex(start);

                    .img {
                        @include size(39vw, 78%);
                        display: block;
                        object-fit: cover;
                        background-size: cover;
                        background-position: center;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    }
                }

                .swiper-button-next::after {
                    @include size(50px, 50px);
                    content: '';
                    position: absolute;
                    top: 45px;
                    right: 46vw;
                    background-image: url(../img/aboutUs-swiper-right.png);
                    font-family: none;
                }

                .swiper-button-prev::after {
                    @include size(50px, 50px);
                    content: '';
                    position: absolute;
                    top: 45px;
                    left: 5vw;
                    background-image: url(../img/aboutUs-swiper-left.png);
                    font-family: none;
                }

                .swiper-pagination {
                    bottom: 18vh;
                    left: -20vw;

                    span {
                        background-color: $title-bg;
                    }
                }
            }

            .about-us-content {
                @include size(32vw, 100%);
                @include flex(center, start);
                flex-direction: column;

                h3 {
                    @include font($h2, start);
                    letter-spacing: 0.3em;
                }

                p {
                    @include size(100%, 300px);
                    @include font($h5, start, 60px);
                    margin: 0;
                }
            }
        }
    }
}