@import 'group_web_variable';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 20px solid $main-color;
    background-color: $body-bg;
    font-family: 'Noto Sans', sans-serif;
    color: $main-color;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $main-color;

    &:hover{
        text-decoration: none;
        color: $main-color;
    }
}

h2 {
    margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.logo-img {
    position: absolute;
    top: 50px;
    right: 250px;
}

.logo-text {
    position: absolute;
    top: 50px;
    right: 50px;
}

#goTopButton {
    @include size(80px, 80px);
    @include font($h6, center, 40px);
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $footer-text;
    color: $footer-bg;

    &::after {
        @include position(55%, 50%);
        content: 'Top';
    }
}

header {
    @include flex();
    min-height: 100vh;
    position: fixed;
    transform: translate(-20px, -20px);
    z-index: 50;

    nav {
        @include size(37px, 80vh);
        @include flex;
        position: relative;
        border-radius: 10px;
        background-color: $main-color;
        box-shadow: 0 5px 15px;
        overflow: hidden;
        transition: 1s;

        ul {
            display: none;
            width: 20%;
            padding: 0;
            z-index: 20;
            list-style: none;

            li {
                position: relative;
                width: 100%;
                border-radius: 10px;

                &:hover {
                    background-color: #efefef;

                    a {
                        color: $nav-bg;
                        font-weight: bold;
                    }
                }

                a {
                    @extend %header-section-btn;

                    .icon {
                        @extend %header-section-btn-icon;
                    }

                    .title {
                        @extend %header-section-btn-title;
                    }
                }
            }
        }

        .nav-img {
            @include size(110px, 109px);
            display: none;
            right: 7%;
            bottom: 8%;
            background-image: url(../img/logo-bg-img.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
        }
    }

    nav.active {
        @include size(50vw, 100vh);
        background-color: $nav-bg;
    }

    .toggle {
        @include size(30px, 80vh);
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        cursor: pointer;

        &::before {
            @include size(12.5px, 25px);
            content: "";
            position: absolute;
            left: 15%;
            top: 50%;
            background-image: url(../img/nav-right.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            line-height: 20px;
            text-align: center;
        }
    }

    .toggle.active {
        height: 100vh;

        &::before {
            top: 50%;
            background-image: url(../img/nav-left.png);
        }
    }

    .ulbar.active {
        display: block;
    }

    .nav-img.active {
        display: block;
    }
}

main {
    position: relative;
    @include flex();

    .news-page-container {
        @include size(65vw, 100%);
        padding: 250px 0;

        .news-title {
            position: relative;
            padding-left: 60px;

            &::before {
                @extend %title-cube;
            }

            h2 {
                @include font($h1, start, inherit, 0.3em);
            }

            span {
                @include font($h5);

                &::before {
                    @extend %title-vertical-text;
                    content: 'News';
                }
            }
        }

        .aside {
            @include size(100%, 60px);
            @include flex(flex-end);
            margin-top: 40px;
            padding-right: 30px;

            .aside-tab {
                @extend %news-page-aside-tag;

                &:hover {
                    background-color: lighten($tag-bg, 5%);
                }

                &:active {
                    background-color: $news-tag-f-bg;
                    color: $footer-text;
                }
            }

            .aside-tab-focus{
                background-color: $news-tag-f-bg;
                color: $footer-text;

                &:hover {
                    background-color: lighten($news-tag-f-bg, 5%);
                }
            }
        }

        article {
            padding: 80px 0 0 32px;

            .news-date {
                margin-bottom: 70px;

                .date-title {
                    @include size(100px, 30px);
                    @include font($h8, center, 30px, 0.2em);
                    border-radius: 6px;
                    background-color: $main-color;
                    color: $store-list-bg;
                }

                .date-btns {
                    @include flex(start);

                    .focus-change {
                        background-color: $title-bg;
                        color: $footer-text;
                    }

                    button {
                        @extend %date-btn;

                        &:hover {
                            background-color: $title-bg;
                            color: $footer-text;
                        }
                    }
                }
            }

            .content-title {
                @include flex(start);
                margin-bottom: 60px;

                h4 {
                    @include font($h1, center, 60px, 0.2em);
                    position: relative;
                    padding-left: 11px;
                    margin: 0;

                    &::before {
                        @include size(122px, 24px);
                        content: '';
                        position: absolute;
                        bottom: 0;
                        transform: translate(-10%, -50%);
                        border-radius: 6px;
                        background-color: $store-list-bg;
                        z-index: -1;
                    }
                }

                div {
                    @include font($h7, center, inherit, 0.2em);
                    margin-left: 20px;
                    padding-top: 15px;
                    font-weight: bold;
                }

                button {
                    @extend %news-content-title-btn;

                    &:hover {
                        color: $store-tag-f-bg;
                    }

                    &:active {
                        box-shadow: 0 0 $tag-bg;
                        transform: translateY(1px);
                    }
                }
            }

            .content-infs {

                .content-inf {
                    @extend %news-inf;
                    box-shadow: 0 3px $tag-bg;

                    &::before {
                        @extend %news-inf-before;
                    }

                    &:hover {
                        background-color: $form-title-bg;

                        &::before {
                            background-color: darken($title-bg, 5%);
                        }
                    }

                    &:active {
                        box-shadow: none;
                        transform: translateY(3px);
                        color: $footer-text;
                    }

                    .inf-date {
                        @include size(107px, 100%);
                        padding-left: 38px;
                        font-weight: bold;

                        .during {
                            @include flex(start);
                            padding-top: 5px;

                            .end-date {
                                @include font($h10, start, 20px, 0.2em);
                                padding: 0 0 5px 10px;
                            }
                        }

                        >span {
                            @include font($h7, start, 20px, 0.2em);
                        }

                    }

                    h5 {
                        @include font($h3, start, 100px, 0.2em);
                        flex: 1;
                        padding-left: 20px;
                        margin: 0
                    }

                    >i {
                        @include size(80px, 100%);
                        @include font($h6, start, 100px, 0.2em);
                        @include flex();
                        margin-right: 30px;
                        margin-left: 15px;
                        font-size: 16px;
                    }
                }

                .inf-detail {
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                    background-color: $form-bg;
                    font-weight: bold;
                    transition: 0.6s ease-in-out;

                    >span {
                        display: block;
                        padding: 25px 0 0 3.5vh;
                        font-weight: bold;
                    }

                    .card-body {
                        padding: 40px 4.7vw 0;

                        .card-imgs {
                            @include flex(space-between);

                            figure {
                                @include size(26vw, 15vw);
                                background-repeat: no-repeat;
                            }
                        }

                        .card-content {
                            @include font($h7, start, 30px 0.2em);
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            padding: 55px 50px 0 50px;

                            span {
                                display: block;
                                padding: 0;
                            }
                        }
                    }

                    .card-other-inf {
                        display: grid;
                        grid-row: 2;
                        grid-template-columns: repeat(2, 1fr);

                        >div {
                            @include flex(flex-start);
                            @include font($h10, center, 30px, 0.2em);
                            padding-left: 7.5vw;
                            font-weight: bold;
                            height: 140px;


                            i {
                                margin-right: 10px;
                                font-size: $h4;
                            }

                            time {
                                padding-top: 20px;
                                margin-left: 30px;
                                display: flex;
                                flex-direction: column;
                                justify-self: flex-end;
                                line-height: 20px;
                            }

                            >img {
                                margin-left: 30px;
                            }

                            span {
                                padding: 0;
                            }

                            a{
                                display: flex;

                                &:hover{
                                    border-bottom: 3px solid $main-color;
                                }
                            }
                        }

                        >div:nth-child(1),
                        >div:nth-child(2) {
                            border-top: 3px solid $body-bg;
                            border-bottom: 3px solid $body-bg;
                        }
                    }
                }
            }

            h3 {
                @include font($h1, start, 60px, 0.2em);
                margin: 275px 0 15px 0;
                font-family: 'Noto Sans TC', sans-serif;
            }

            .inf-focus{
                box-shadow: 0 0 0 white !important;
                background-color: $tag-bg !important;
                color: $footer-text;
            }
        }
    }
}

footer {
    @include size(100%, 700px);
    @include flex();
    background-color: $footer-bg;
    position: relative;
    color: $footer-text;

    .footer-logo-img {
        @include position(550px, 160px, 0, 0);
    }

    .footer-logo-text {
        @include position(550px, 160px, 90%, 0);
    }

    .footer-container {
        @include size(83%, 622px);
        overflow: hidden;
        margin-top: 40px;

        h2 {
            @include font($h2, start, 49px, 0.15em);
            margin-bottom: 70px;
        }

        article {
            @include size(100%, 519px);
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            h3 {
                @include font($h4, start, inherit, 0.15em);
            }

            .inf-detil {
                @include font($h6, start, 30px, 0.15em);
                padding-left: 28px;

                &>div:nth-child(2) {
                    padding-left: 60.5px;
                }
            }

            .open-detil {
                @include size(238px, 100%);
                padding-left: 18px;

                .date-box {
                    @include flex(start, start);
                    @include font($h6, center, 30px, 0.15em);

                    .date-box {
                        @include size(80px, 40px);
                        @include flex();
                        border: $footer-text 1px solid;
                        border-radius: 60px;
                    }

                    span {
                        @include size(60px, 40px);
                        line-height: 40px;
                    }
                }

                time {
                    @include flex();
                    @include font($h6, center, 30px, 0.15em);
                    padding-top: 13px;
                }
            }
        }

        >p {
            @include font($h6, center, 30px, 0.05em);
        }
    }
}