@import 'group_web_variable';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 20px solid $main-color;
    background-color: $body-bg;
    font-family: 'Noto Sans', sans-serif;
    color: $main-color;
    scroll-behavior: smooth;

    @include w1366 {
        border: 1.46vw solid $main-color;
    }

    @include w1024 {
        border: 1.95vw solid $main-color;
    }

    @include w768 {
        border: 2.67vw solid $main-color;
    }
}

a {
    text-decoration: none;
    color: $main-color;

    &:hover {
        text-decoration: none;
        color: $main-color;
    }
}

h2 {
    margin: 0;
}

figure{
    margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.logo-link {
    @include size(15vw, 5.729vw);
    position: absolute;
    right: 5vmin;
    top: 5vmin;
    z-index: 1;

    @include w375 {
        @include size(auto, auto);
        top: 20px;
        right: 20px;
    }

    .logo-img {
        @include size(5.729vw, 5.729vw);
        margin-right: 0.521vw;

        @include w375 {
            @include size(35px, 39px);
        }
    }

    .logo-text {
        @include size(7.552vw, 4.48vw);

        @include w375 {
            @include size(56px, 38px);
        }
    }
}

#goTopButton {
    @include size(4.17vw, 4.17vw);
    @include font($h6, center, 40px);
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $footer-text;
    color: $footer-bg;
    min-width: 40px;
    min-height: 40px;

    @include w1366 {
        font-size: $h9;
        line-height: $h9;
    }

    &::after {
        @include position(55%, 50%);
        content: 'Top';

        @include w1366 {
            transform: translate(-50%, 10%);
        }
    }

    &::before {
        position: absolute;
        transform: translate(-10px, -3px);

        @include w1366 {
            transform: translate(-5px, 10px);
        }
    }
}

.header-shady{
    
    &::after{

        @include w768{
            @include size(100vw, 100vh);
            content: '';
            position: absolute;
            right: -100vw;
            background-color: $nes-aside-tag;
            opacity: 0.4;
            z-index: -99;
            animation: shady 1s ease-in-out;

            @keyframes shady {
                0%{
                    opacity: 0;
                }
    
                100%{
                    opacity: 0.4;
                }
            }
        }  
    }
}

header {
    @include flex();
    min-height: 100vh;
    position: fixed;
    transform: translate(-20px, -20px);
    z-index: 50;

    nav {
        @include size(1.93vw, 70vh);
        @include flex;
        min-width: 30px;
        position: relative;
        border-radius: 10px;
        background-color: $main-color;
        box-shadow: 0 5px 15px;
        overflow: hidden;
        transition: 1s;

        @include w768{
            @include size(50px, 50px);
            border-radius: 5px;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: none;
        }

        ul {
            display: none;
            width: 10vw;
            padding: 0;
            z-index: 20;
            list-style: none;

            @include w1024 {
                width: 15vw;
            }

            @include w768{
                width: 18vw;
            }

            @include w576{
                width: 110px;
            }

            @include w375 {
                width: 45%;
            }

            li {
                position: relative;
                width: 100%;
                border-radius: 10px;

                &:hover {
                    background-color: #efefef;

                    a {
                        color: $nav-bg;
                        font-weight: bold;
                    }
                }

                a {
                    @extend %header-section-btn;

                    .icon {
                        @extend %header-section-btn-icon;
                    }

                    .title {
                        @extend %header-section-btn-title;
                    }
                }
            }
        }

        .nav-img {
            @include size(5.8vw, 109px);
            min-width: 50px;
            display: none;
            right: 3vw;
            bottom: 3vw;
            background-image: url(../img/logo-bg-img.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;

            @include w576{
                right: 50%;
                bottom: 15%;
                transform: translateX(50%);
            }

            @include w375 {
                @include size(52px, 60px);
                right: 50%;
                bottom: 15%;
                transform: translateX(50%);
            }
        }
    }

    nav.active {
        @include size(50vw, 100vh);
        background-color: $nav-bg;

        @include w768 {
            width: 65vw;
        }
    }

    .toggle {
        @include size(30px, 80vh);
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        cursor: pointer;

        &::before {
            @include size(12.5px, 25px);
            content: "";
            position: absolute;
            left: 15%;
            top: 43%;
            background-image: url(../img/nav-right.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            line-height: 20px;
            text-align: center;

            @include w768 {
                @include size(37px, 50px);
                background-image: url(../img/nav-hamburger.png);
                top: 0;
                left: -42%;
            }
        }
    }

    .toggle.active {
        height: 100vh;

        &::before {
            top: 50%;
            background-image: url(../img/nav-left.png);

            @include w768 {
                top: 1vh;
                left: -57vw;
                background-image: url(../img/nav-x.png);
            }

            @include w375 {
                top: 0.4vh;
                left: -206px;
                background-image: url(../img/nav-x.png);
            }
        }
    }

    .ulbar.active {
        display: block;
    }

    .nav-img.active {
        display: block;
    }
}

main {
    position: relative;
    @include flex();

    .news-page-container {
        @include size(65vw, 100%);
        padding: 10.02vw 0;

        .news-title {
            position: relative;
            padding-left: 3.125vw;

            @include w1366{
                margin: 0;
                padding-left: 40px;
            }

            @include w375 {
                height: 30px;
                padding-left: 20px;
            }

            &::before {
                @extend %title-cube;
            }

            h2 {
                @include font($h1, start, inherit, 0.3em);
                @include w1366{
                    font-size: 1.8rem;
                }
                @include w375 {
                    font-size: 1rem;
                }
            }

            span {
                @include font($h5);
                @include w1366{
                    font-size: 1rem;
                }
                @include w375 {
                    letter-spacing: 0;
                    font-size: 0.7rem;
                    display: inline-block;
                    transform: translate(-15%, -50%) scale(0.7);
                }

                &::before {
                    @extend %title-vertical-text;
                    content: 'NEWS';
                }
            }
        }

        .aside {
            @include size(100%, 5.56vh);
            @include flex(flex-end);
            margin-top: 3.7vh;
            padding-right: 1.5625vw;

            .aside-tab {
                @extend %news-page-aside-tag;

                &:hover {
                    background-color: lighten($tag-bg, 5%);
                }

                &:active {
                    background-color: $news-tag-f-bg;
                    color: $footer-text;
                }
            }

            .aside-tab-focus {
                background-color: $news-tag-f-bg;
                color: $footer-text;

                &:hover {
                    background-color: lighten($news-tag-f-bg, 5%);
                }
            }
        }

        article {
            padding: 7.4vh 0 0 1.67vw;

            .news-date {
                margin-bottom: 6.48vh;

                .date-title {
                    @include size(5.21vw, 2.78vh);
                    @include font($h8, center, 2.78vh, 0.2em);
                    border-radius: 6px;
                    background-color: $main-color;
                    color: $store-list-bg;
                }

                .date-btns {
                    @include flex(start);

                    .focus-change {
                        background-color: $title-bg;
                        color: $footer-text;
                    }

                    button {
                        @extend %date-btn;

                        &:hover {
                            background-color: $title-bg;
                            color: $footer-text;
                        }
                    }
                }
            }

            .content-title {
                @include flex(start);
                position: relative;
                margin-bottom: 5.56vh;

                h4 {
                    @include font($h1, center, 5.56vh, 0.2em);
                    position: relative;
                    padding-left: 11px;
                    margin: 0;

                    @include w1366{
                        font-size: 1.875rem;
                    }

                    @include w1024{
                        font-size: 1.65rem;
                    }

                    @include w375{
                        line-height: 0.9rem;
                        font-size: 0.9rem;
                        margin: 0;
                    }

                    &::before {
                        @include size(6.35vw, 2.22vh);
                        content: '';
                        position: absolute;
                        bottom: 0;
                        transform: translate(-10%, -50%);
                        border-radius: 6px;
                        background-color: $store-list-bg;
                        z-index: -1;

                        @include w375{
                            @include size(90%, 40%);
                            transform: translate(0, -50%);
                        }
                    }
                }

                .month {
                    @include font($h7, center, inherit, 0.2em);
                    margin-left: 1.04vw;
                    padding-top: 1.39vh;
                    font-weight: bold;

                    @include w375{
                        letter-spacing: 0;
                        font-size: 0.7rem;
                        line-height: 0.7rem;
                        transform:  scale(0.7);
                        padding: 0;
                        margin: 0;
                    }
                }

                .years{
                    @include font($h7, center, inherit, 0.2em);
                    margin-left: 1.04vw;
                    padding-top: 1.39vh;
                    font-weight: bold;
                    margin: 0;
                    @include w375{
                        letter-spacing: 0;
                        font-size: 0.7rem;
                        line-height: 0.7rem;
                        transform: translateX(-25%) scale(0.7);
                        padding: 0;
                        margin: 0;
                    }
                }

                .custom-select-list {
                    @include size(11.2vw, 3.7vh);
                    display: none;
                    position: absolute;
                    right: 1.041vw;
                    top: 0.926vh;

                    &:hover{
                        &::after{
                            transform: translate(-1.041vw, -0.625vh);
                        }
                    }

                    &::after {
                        @include size(1.5vw, 1.11vh);
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: -1vw;
                        transform: translate(-1.041vw, -1.25vh);
                        background-image: url(../img/select-down.png);
                        background-repeat: no-repeat;
                        transition: 0.5s ease-in-out;
                    }   
                }

                .custom-select-list select {
                    display: none;
                }

                .select-items div,
                .select-selected {
                    @include size(11.2vw, 3.7vh);
                    padding: 0 0 0 0.625vw;
                    background-color: $title-bg;
                    color: $footer-text;
                    text-align: start;
                    cursor: pointer;
                    letter-spacing: 0.1em;
                    line-height: 3.7vh;
                }

                .select-items div:last-child() {
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                }

                .select-selected {
                    border-radius: 4px;
                }

                .select-selected-focus {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .select-items {
                    position: absolute;
                    padding: 0;
                    z-index: 999;
                }

                .select-hide {
                    display: none;
                }

                .select-items div:hover {
                    &::before{
                        @include size(11.2vw, 3.7vh);
                        content: '';
                        position: absolute;
                        transform: translateX(-0.625vw);
                        background-color: $footer-text;
                        opacity: 0.5;
                    }
                }

                .select-items .active {
                    &::before{
                        @include size(11.2vw, 3.7vh);
                        content: '';
                        position: absolute;
                        transform: translateX(-0.625vw);
                        background-color: $footer-text;
                        opacity: 0.2;
                    }
                }
            }

            .content-infs {

                .content-inf {
                    @extend %news-inf;

                    &::before {
                        @extend %news-inf-before;
                    }

                    &:hover {
                        background-color: $form-title-bg;

                        &::before {
                            background-color: darken($title-bg, 5%);
                        }
                    }

                    &:active {
                        box-shadow: none;
                        transform: translateY(3px);
                        color: $footer-text;
                    }

                    .inf-date {
                        @include size(5.57vw, 100%);
                        padding-left: 1.98vw;
                        font-weight: bold;
                        transform: translateX(15%);

                        @include w768{
                            width: 70px;
                        }
                        @include w375{
                            width: 50px;
                            padding: 9px 0 0 17px;
                            transform: translateX(10%);
                        }

                        .during {
                            @include flex(start);
                            padding-top: 5px;
                            transform: translate(10%, 30%);

                            @include w1024{
                                padding-top: 1vh;
                                font-size: 0.8rem;
                            }
                            @include w768{
                                justify-content: center;
                                transform: translateY(30%);
                            }
                            @include w375{
                                transform: translateY(20%) scale(0.7);
                            }
                        }

                        >span {
                            @include font($h7, start, 1.85vh, 0.2em);
                            @include w768{
                                display: inline-block;
                                transform: translateX(50%);
                            }
                            @include w576{
                                letter-spacing: 0;
                                display: inline-block;
                                font-size: 0.7rem;
                                width: 40px;
                                line-height: 0.7rem;
                                transform: translateX(1vw) scale(0.8);
                            }
                            @include w375{
                                transform: translateY(-7px) scale(0.7);
                            }
                        }

                    }

                    h5 {
                        @include font($h3, start, 9.26vh, 0.2em);
                        flex: 1;
                        padding-left: 1.041vw;
                        margin: 0;

                        @include w768{
                            overflow: hidden;
                            text-overflow : ellipsis;
                            white-space : nowrap;
                            font-size: 0.9rem;
                        }

                        @include w576{
                            flex: none;
                            width: 65vw;
                        }

                        @include w375{
                            flex: none;
                            width: 210px;
                            margin-right: 20px;
                        }
                    }

                    >i {
                        @include size(4.17vw, 100%);
                        @include font($h6, start, 9.26vh, 0.2em);
                        @include flex();
                        margin-right: 1.56vw;
                        margin-left: 0.78vw;
                        font-size: $h8;

                        @include w576{
                            transform: translate(-10px, 45%);
                        }
                        @include w375{
                            font-size: 0.9rem;
                        }
                    }
                }

                .inf-detail {
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                    background-color: $form-bg;
                    font-weight: bold;
                    transition: 0.6s ease-in-out;

                    >span {
                        display: block;
                        padding: 2.31vh 0 0 3.5vh;
                        font-weight: bold;
                    }

                    .card-body {
                        padding: 3.7vh 4.7vw 0;

                        .card-imgs {
                            @include flex(space-between);

                            figure {
                                @include size(26vw, 15vw);
                                background-repeat: no-repeat;
                            }
                        }

                        .card-content {
                            @include font($h7, start, 2.78vh 0.2em);
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            padding: 5.09vh 2.6vw 0 2.6vw;

                            span {
                                display: block;
                                padding: 0;
                            }
                        }
                    }

                    .card-other-inf {
                        display: grid;
                        grid-row: 2;
                        grid-template-columns: repeat(2, 1fr);

                        >div {
                            @include flex(flex-start);
                            @include font($h10, center, 2.78vh, 0.2em);
                            padding-left: 7.5vw;
                            font-weight: bold;
                            height: 12.96vh;


                            i {
                                margin-right: 10px;
                                font-size: $h4;
                            }

                            time {
                                padding-top: 1.85vh;
                                margin-left: 1.56vw;
                                display: flex;
                                flex-direction: column;
                                justify-self: flex-end;
                                line-height: 1.85vh;
                            }

                            >img {
                                margin-left: 1.56vw;
                            }

                            span {
                                padding: 0;
                            }

                            a {
                                display: flex;

                                &:hover {
                                    border-bottom: 3px solid $main-color;
                                }
                            }
                        }

                        >div:nth-child(1),
                        >div:nth-child(2) {
                            border-top: 3px solid $body-bg;
                            border-bottom: 3px solid $body-bg;
                        }
                    }
                }
            }

            h3 {
                @include font($h1, start, 60px, 0.2em);
                margin: 25.46vh 0 1.39vh 0;
                font-family: 'Noto Sans TC', sans-serif;
            }

            .inf-focus {
                box-shadow: 0 0 0 white !important;
                background-color: $tag-bg !important;
                color: $footer-text;
            }

            .feast-photo-wall{
                padding: 1.85vh 1.56vw 0;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 2vw;
                display: none;

                figure{
                    @include size(18.65vw, 10.14vw);
                    position: relative;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 2px;
                    box-shadow: 0 0 3px $footer-bg;

                    &:hover{

                        .figure-hover-appear{
                            opacity: 0.9;
                            transition: 0.8s ease-in-out;
                        }    
                    }

                    .figure-hover-appear{
                        @include size(100%, 100%);
                        @include font($h6, center, 10.65vw);
                        position: absolute;
                        background-color: $news-tag-f-bg;
                        color: $body-bg;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

footer {
    @include flex();
    background-color: $footer-bg;
    position: relative;
    color: $footer-text;

    .footer-container {
        width: 83%;
        overflow: hidden;
        margin-top: 3.7vh;
        padding-bottom: 30px;

        @include w1366{
            width: 88%;
        }
        @include w576{
            width: 100%;
        }

        h2 {
            @include font($h2, start, 4.53vh, 0.15em);
            margin-bottom: 6.48vh;
            
            @include w1024{
                font-size: 1.19rem;
                text-align: center;
            }
            @include w576{
                font-size: 1rem;
                margin-bottom: 35px;
            }
        }

        article {
            @include size(100%, 43.99vh);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 25px;

            @include w1024{
                height: auto;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 130px 70 70px;
                grid-row-gap: 30px;
                grid-template-areas: 
                "A B"
                "C C"
                "D D";
            }

            h3 {
                @include font($h4, start, inherit, 0.15em);
                @include w1366{
                    font-size: 1.16rem;
                }
                @include w1024{
                    text-align: center;
                }
                @include w576{
                    font-size: 0.75rem;
                }
            }

            .inf-detil {
                @include font($h6, start, 2.78vh, 0.15em);
                padding-left: 28px;
                grid-area: A;

                @include w1366{
                    font-size: 1rem;
                }
                @include w1024{
                    text-align: center;
                    padding: 0;
                }
                @include w576{
                    font-size: 0.7rem;
                    transform: scale(0.8);
                    white-space: nowrap;
                }

                &>div:nth-child(2) {
                    padding-left: 3.151vw;

                    @include w1024{
                        padding: 0;
                    }
                }
            }

            .open-detil {
                @include size(240px, 100%);
                padding-left: 18px;
                grid-area: B;

                @include w1024{
                    width: 100%;
                    padding: 0;
                }

                .date-area {
                    @include flex(start, start);
                    @include font($h6, center, 2.78vh, 0.15em);

                    @include w1366{
                        font-size: 1rem;
                    }
                    @include w1024{
                        justify-content: center;
                    }
                    @include w576{
                        font-size: 0.7rem;
                        transform: scale(0.8);
                    }
                    
                    .date-box {
                        @include size(80px, 3.7vh);
                        @include flex();
                        border: $footer-text 1px solid;
                        border-radius: 60px;

                        @include w576{
                            width: 50px;
                        }
                    }

                    span {
                        @include size(60px, 3.7vh);
                        line-height: 3.7vh;

                        @include w576{
                            width: 30px;
                        }
                    }
                }

                time {
                    @include flex();
                    @include font($h6, center, 2.78vh, 0.15em);
                    padding-top: 13px;

                    @include w1366{
                        font-size: 1rem;
                    }
                    @include w576{
                        font-size: 0.7rem;
                        transform: scale(0.8);
                    }
                }
            }

            .fb-page{
                @include w1024{
                    grid-area: C;
                    text-align: center;
                }
            }

            .fb-big{
                @include w1024{
                    display: none;
                }
            }

            .fb-middle{
                display: none;
                @include w1024{
                    display: block;
                }
                @include w576{
                    display: none;
                }
            }

            .fb-small{
                display: none;
                @include w576{
                    display: block;
                }
            }

            .foot-logo-box{
                @include w1024{
                    grid-area: D;
                    text-align: center;
                }
                .footer-logo-img {
                    @include size(4.84vw, 4.84vw);
                    @include position(50.92vh, 8.3vw, 0, 0);
            
                    @include w1024{
                        @include size(60px, 60px);
                        position: static;
                        margin-right: 20px;
                    }
                    @include w576{
                        @include size(45px, 45px);
                        margin-right: 10px;
                    }
                }
            
                .footer-logo-text {
                    @include size(7.55vw, 4.48vw);
                    @include position(50.92vh, 8.3vw, 90%, 0);
                    
                    @include w1024{
                        @include size(85px, 50px);
                        position: static;
                        transform: translate(0, 0);
                    }
                    @include w576{
                        @include size(70px, 35px);
                    }
                }
            }

        }

        >p {
            @include font($h6, center, 2.78vh, 0.05em);
            margin: 0;

            @include w1366{
                font-size: 1rem;
            }
            @include w576{
                font-size: 0.75rem;
            }
        }
    }
}