//1.盡量使用class，減少使用id。
//2.除了會更換圖片資料的地方外，盡量不要寫inner style。
//3.class命名規則，以'-'為主，結構不要太長最多3層，例: new-list、news-list-img。
//4.可以的話盡量使用語意化標籤，但是最好把父層也寫進去，例: news > article。


$main-color:#54291c;
$news-tag-f-bg:#AB3030;
$store-tag-f-bg:#96422D;
$title-bg:#D28E76;
$store-list-bg:#FBE6C3;
$body-bg:#FFFCF4;
$tag-bg:#C4C4C4; 
$form-title-bg:#E0E0E0;
$form-bg:#F2F2F2;
$substrate-bg:rgba(255,255,255,0.8);

$h1:2.8125rem;
$h2:2.25rem;

