//1.盡量使用class，減少使用id。
//2.除了會更換圖片資料的地方外，盡量不要寫inner style。
//3.class命名規則，以'-'為主，結構不要太長最多3層，例: new-list、news-list-img。
//4.可以的話盡量使用語意化標籤，但是最好把父層也寫進去，例: news > article。
//5.更改此檔案時，必需要參與者一致同意才可更改。
//6.圖片檔名一律用有意義英文。

//顏色變數
$main-color:#54291c;
$nav-bg:rgba(84, 41, 28, 0.9);
$news-tag-f-bg:#AB3030;
$store-tag-f-bg:#96422D;
$title-bg:#D28E76;
$store-list-bg:#FBE6C3;
$body-bg:#FFFCF4;
$tag-bg:#C4C4C4;
$form-title-bg:#E0E0E0;
$form-bg:#F2F2F2;
$substrate-bg:rgba(255, 255, 255, 0.8);

//文字尺寸變數
// <<<<<<< Updated upstream
$h1:2.8125rem;  //45px
$h2:2.25rem;    //36px
$h3:1.75rem;    //28px
$h4:1.625rem;   //26px
$h5:1.5rem;     //24px
$h6:1.375rem;   //22px
$h7:1.125rem;   //18px
$h8:1rem;       //16px
$h9:0.875rem;   //14px
$h10:0.75rem;   //12px
// =======
$h1:2.8125rem; 
$h2:2.25rem;
$h3:1.75rem;
$h4:1.625rem;
$h5:1.5rem;
$h6:1.375rem;
$h7:1.125rem;
$h8:1rem;
$h9:0.875rem;
$h10:0.75rem;
// >>>>>>> Stashed changes

//css屬性變數
@mixin size($w, $h) {
    width: $w;
    height: $h;
};

@mixin flex($jc:center, $ai:center, $fl:flex) {
    display: $fl;
    justify-content: $jc;
    align-items: $ai;
};

@mixin font($fs, $ta:center, $lh:inherit) {
    font-size: $fs;
    text-align: $ta;
    line-height: $lh;
};

@mixin position($tp:0, $lf:0,$tx:-50%, $ty:-50%) {
    position: absolute;
    top:$tp;
    left:$lf;
    transform: translate($tx,$ty);
}

//元件變數
%title-cube {
    content: '';
    position: absolute;
    background: $title-bg;
    border-radius: 5px;
};
%title-vertical-text{
    content: '';
    position: absolute;
    left: 0;
    transform: translate(-15%, -80%) rotate(90deg);
    letter-spacing: 0.1em;
}

// kg create
%title-tra-circle{
    @include size(130px,130px);
    @include flex;
    margin: auto;
    border-radius:50%;
    background-color:$title-bg;
}
%title-tra-logotext{
    text-align: center;
    font-size: $h6;
    line-height: 60px;
    letter-spacing: 10%;
}
%title-tra-contentarea{
    margin-left: 100px;
    background-color: $form-bg;
    border-radius: 10px 0 0 10px;
    border-right: 30px solid $title-bg;

}
%title-tra-contenttext{
    margin-left: 43px;
    font-size: $h4;
    letter-spacing: 0.2em;
}