@import 'variable';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: $body-bg;
    font-family: 'Noto Sans', sans-serif;
    color: $main-color;
}

header {
    @include flex($jc:flex start);
    // width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 50;

    // .container {
    //     width: 100%;
    //     position: relative;

    // }
}

.nav {

    position: relative;
    @include flex;
    @include size($w:37px, $h:80vh);
    background-color: $main-color;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px;
    transition: 1.2s;

    ul {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-30%, -50%);
        display: none;
        width: 20%;
        z-index: 20;

        li {
            position: relative;
            list-style: none;
            width: 100%;

            &:hover {
                background-color: #efefef;

                a {
                    color: $nav-bg;
                }
            }

            a {
                position: relative;
                display: block;
                width: 50%;
                display: flex;
                //    flex-wrap: wrap;
                text-decoration: none;
                color: $store-list-bg;
                font-weight: 500;
                font-size: $h4;
                letter-spacing: 0.3em;


                .icon {
                    position: relative;
                    display: block;
                    min-width: 40px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;

                }

                .title {
                    position: relative;
                    display: block;
                    height: 60px;
                    line-height: 60px;
                    white-space: nowrap;
                }

            }

        }
    }

    .nav-img {
        display: none;
        @include size($w:110px, $h:109px);
        background-image: url(../img/logo-bg-img.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 7%;
        bottom: 8%;
    }
}


.nav.active {
    @include size($w:50vw, $h:100vh);
    background-color: $nav-bg;

}


.toggle {
    position: absolute;
    right: 0;
    top: 0;
    @include size($w:30px, $h:80vh);
    background: none;
    cursor: pointer;
    // border-right: 5px solid  $nav-bg;


    &::before {
        content: "";
        position: absolute;
        left: 15%;
        top: 9%;
        width: 12.5px;
        height: 25px;
        background-image: url(../img/nav-right.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        line-height: 20px;
        text-align: center;
        transition: 1.2s;

    }
}

.toggle.active {
    height: 100vh;

    &::before {
        top: 17%;
        background-image: url(../img/nav-left.png);
    }
}

.ulbar.active {
    display: block;
}

.nav-img.active {
    display: block;
}

.on {
    display: flex;
}

.logo-img {
    position: absolute;
    top: 50px;
    right: 250px;
}

.logo-text {
    position: absolute;
    top: 50px;
    right: 50px;
}

.store {
    @include size($w:100%, $h:100vh);
    border: 20px solid $main-color;
    @include flex;
    position: relative;


    .store-container {
        @include size($w:80vw, $h:68vh);


        .store-title {
            position: relative;
            padding-left: 60px;

            &::before {
                @extend %title-cube;
                @include size(60px, 60px);
                transform: translate(-50px, -20px);
                z-index: -1;
            }

            h2 {
                @include font($h1, start);
                letter-spacing: 0.3em;
            }

            span {
                @include font($h5);
                letter-spacing: 0.1em;

                &::before {
                    @extend %title-vertical-text;
                    content: 'SHOP';

                }
            }
        }

    }


}

.view {
    @include size($w:100%, $h:100vh);
    border: 20px solid $main-color;
    @include flex;
    position: relative;

    .view-container {
        @include size($w:80vw, $h:68vh);


        .view-title {
            position: relative;
            padding-left: 60px;

            &::before {
                @extend %title-cube;
                @include size(60px, 60px);
                transform: translate(-50px, -20px);
                z-index: -1;
            }

            h2 {
                @include font($h1, start);
                letter-spacing: 0.3em;
            }

            span {
                @include font($h5);
                letter-spacing: 0.1em;

                &::before {
                    @extend %title-vertical-text;
                    content: 'About';

                }
            }
        }

    }
}

.traffic {
    @include size($w:100%, $h:100vh);
    border: 20px solid $main-color;
    @include flex;
    position: relative;

    .traffic-container {
        @include size($w:80vw, $h:68vh);


        .traffic-title {
            position: relative;
            padding-left: 60px;

            &::before {
                @extend %title-cube;
                @include size(60px, 60px);
                transform: translate(-50px, -20px);
                z-index: -1;
            }

            h2 {
                @include font($h1, start);
                letter-spacing: 0.3em;
            }

            span {
                @include font($h5);
                letter-spacing: 0.1em;

                &::before {
                    @extend %title-vertical-text;
                    content: 'About';

                }
            }
        }

    }

}

.contact {
    @include size($w:100%, $h:100vh);
    border: 20px solid $main-color;
    @include flex;
    position: relative;

    .contact-container {
        @include size($w:80vw,$h:80vh);


        .contact-title {
            position: relative;
            padding-left: 60px;

            &::before {
                @extend %title-cube;
                @include size(60px, 60px);
                transform: translate(-50px, -20px);
                z-index: -1;
            }

            h2 {
                @include font($h1, start);
                letter-spacing: 0.3em;
            }

            span {
                @include font($h5);
                letter-spacing: 0.1em;

                &::before {
                    @extend %title-vertical-text;
                    content: 'About';

                }
            }
        }

        .contact-main {
            @include size($w:1000px, $h:800px);
            background-color: $form-bg;
            margin: auto;
            border-radius: 10px;
            position: relative;

            .contact-form-title {
                @include size($w:100%, $h:100px);
                background-color: $form-title-bg;
                border-radius: 10px 10px 0 0;
                @include flex;

                .form-text {

                    h2 {
                        font-size: 30px;
                        line-height: 30px;
                        letter-spacing: 0.3em;

                    }

                    p {
                        font-size: 18px;
                        line-height: 30px;
                        letter-spacing: 0.05em;

                    }
                }

            }

            .contact-form-main {
                @include flex();
                padding-top: 71px;

                .contact-form {
                    width: 550px;
                    padding: 2px;

                    .form-type {
                        @include size($w:150px, $h:41px);
                        background-color: $title-bg;
                        border-radius: 5px;
                        color: #fff;
                        position: absolute;
                        top: 140px;
                        right: 43px;
                    }
                    
                    
                    p{
                        font-size: $h7;
                        line-height: 40px;
                        letter-spacing: 0.2em;
                        color:$main-color;
                        margin-left: 8px;
                    }
                    input{
                        @include size($w:546px,$h:40px);
                        border: 2px solid #e0e0e0;
                        
                    }
                    select{
                        @include size($w:193px,$h:40px);
                        border-radius:4px;
                        border: 2px solid #e0e0e0;
                        background-color: #fff;
                        color:$main-color;

                    }
                    textarea{
                        @include size($w:546px,$h:135px);
                        border-radius:6px;
                        border: 2px solid #e0e0e0;
                    }
                    .form-sendout{
                        @include position($tp:727px,$lf:499px);
                        @include size($w:237px,$h:50px);
                         // transform:translate(10%,10%);
                        background-color:  $title-bg;
                        border-radius: 6px;
                        color: #fff;
                        font-size: 22px;
                        line-height: 50px;
                        letter-spacing: 0.2em;
                    }

                    .form-storename{
                        margin-bottom: 15px;
                    }
                    .form-producttype{
                        margin-bottom: 35px;
                        p{
                            line-height: 60px;
                        }
                    }


                }
            }

        }

    }
}