@import 'variable';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: $body-bg;
    font-family: 'Noto Sans', sans-serif;
    color: $main-color;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.map-area::-webkit-scrollbar {
    display: none;
}

header {
    @include flex($jc:flex start);
    // width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 50;

    // .container {
    //     width: 100%;
    //     position: relative;

    // }
}


.nav {

    position: relative;
    @include flex;
    @include size($w:37px, $h:80vh);
    background-color: $main-color;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px;
    transition: 1.2s;

    ul {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-30%, -50%);
        display: none;
        width: 20%;
        z-index: 20;

        li {
            position: relative;
            list-style: none;
            width: 100%;

            &:hover {
                background-color: #efefef;

                a {
                    color: $nav-bg;
                }
            }

            a {
                position: relative;
                display: block;
                width: 50%;
                display: flex;
                //    flex-wrap: wrap;
                text-decoration: none;
                color: $store-list-bg;
                font-weight: 500;
                font-size: $h4;
                letter-spacing: 0.3em;


                .icon {
                    position: relative;
                    display: block;
                    min-width: 40px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;

                }

                .title {
                    position: relative;
                    display: block;
                    height: 60px;
                    line-height: 60px;
                    white-space: nowrap;
                }

            }

        }
    }

    .nav-img {
        display: none;
        @include size($w:110px, $h:109px);
        background-image: url(../img/logo-bg-img.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 7%;
        bottom: 8%;
    }
}

.nav-container.active {
    @include size(100vw, 100vh);
    display: flex;
}

.nav-bgimg.active {
    @include size(50vw, 100vh);
    background-color: #ccc;
}

.nav.active {
    @include size($w:50vw, $h:100vh);
    background-color: $nav-bg;

}


.toggle {
    position: absolute;
    right: 0;
    top: 0;
    @include size($w:30px, $h:80vh);
    background: none;
    cursor: pointer;
    // border-right: 5px solid  $nav-bg;


    &::before {
        content: "";
        position: absolute;
        left: 15%;
        top: 9%;
        width: 12.5px;
        height: 25px;
        background-image: url(../img/nav-right.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        line-height: 20px;
        text-align: center;
        transition: 1.2s;

    }
}

.toggle.active {
    height: 100vh;

    &::before {
        top: 17%;
        background-image: url(../img/nav-left.png);
    }
}

.ulbar.active {
    display: block;
}

.nav-img.active {
    display: block;
}

.on {
    display: flex;
}

.logo-img {
    position: absolute;
    top: 50px;
    right: 250px;
}

.logo-text {
    position: absolute;
    top: 50px;
    right: 50px;
}


.map {
    @include size($w:100%, $h:100vh);
    border: 20px solid $main-color;
    @include flex;
    position: relative;
    overflow-x: hidden;

    .logo-link {
        @include size(15vw, 5.729vw);
        position: absolute;
        right: 5vmin;
        top: 5vmin;
        z-index: 1;

        @include w375 {
            @include size(auto, auto);
            top: 12px;
            right: 12px;
        }

        .logo-img {
            @include size(5.729vw, 5.729vw);
            position:unset;
            margin-right: 0.521vw;

            @include w375 {
                @include size(35px, 39px);
            }
        }

        .logo-text {
            @include size(7.552vw, 4.48vw);
            position:unset;
            @include w375 {
                @include size(56px, 38px);
            }
        }
    }

    .map-container {
        @include size($w:80vw, $h:80vh);
        // overflow: hidden;
        @media(max-width:895px) {
            @include size(85vw, 85vh);
        }
        

        //test
        .map-title {
            position: relative;
            padding-left: 3.125vw;

            @include w1366 {
                margin: 0;
                padding-left: 40px;
            }

            @include w375 {
                height: 30px;
                padding-left: 60px;
            }

            &::before {
                @extend %title-cube;
            }

            h2 {
                @include font(2.24vw, start, inherit);
                letter-spacing: 0.3em;

                @include w1366 {
                    font-size: 1.8rem;
                }

                @include w375 {
                    font-size: 1rem;
                }
            }

            span {
                @include font(1.25vw);

                @include w1366 {
                    font-size: 1rem;
                }

                @include w375 {
                    letter-spacing: 0;
                    font-size: 0.7rem;
                    display: inline-block;
                    transform: translate(-15%, -50%) scale(0.7);
                }

                &::before {
                    @extend %title-vertical-text;
                    content: 'SHOP';
                }
            }
        }

        //test

        // .map-title {
        //     position: relative;
        //     padding-left: 60px;

        //     &::before {
        //         @extend %title-cube;
        //         @include size(60px, 60px);
        //         transform: translate(-50px, -20px);
        //         z-index: -1;
        //     }

        //     h2 {
        //         @include font($h1, start);
        //         letter-spacing: 0.3em;
        //     }

        //     span {
        //         @include font($h5);
        //         letter-spacing: 0.1em;

        //         &::before {
        //             @extend %title-vertical-text;
        //             content: 'Map';

        //         }
        //     }
        // }
        .map-area {
            @include size(800px, 560px);
            @include position(56%,50%);
            margin: auto;
            z-index: 30;

            @media(max-width:895px) {
                @include size(86vw, 80vh);
                @include position(calc(56% - 55px),50%);
                padding-top: 90px;
                overflow-x: scroll;
                overflow-y: scroll;
                

            }

            @media(max-width:768px) {

                // @include size(700px, 490px);

            }

            @media(max-width:576px) {

                // @include size(500px, 350px);
            }

            @media(max-width:480px) {

                // @include size(400px, 280px);
            }

            @media(max-width:375px) {

                // @include size(300px, 210px);
            }

            .map-bgc {
                @include size(800px, 560px);
                background-color: #ffffff;
                background-image: url(../img/map-bgc.svg);
                background-position: cover;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

                @media(max-width:1080px) {
                    // @include size(720px, 504px);

                }

                .map-black-bgc {
                    @include size(100%, 100%);
                    background-color: rgba(0, 0, 0, 0.6);
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: 1s ease-in-out;
                    display: none;

                }

                .map-message {
                    @include size(20%, 19.7%);
                    background-image: url(../img/message-red.svg);
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: none;
                    cursor: pointer;
                    z-index: 15;
                    padding: 10px 20px 20px;

                    .map-shopname {
                        // height: 22.5px;
                        margin: 0 auto 3px;
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        line-height: 22.5px;
                        letter-spacing: 0.1em;
                        color: #54291C;

                        .shopname-logo {
                            @include size(22.5px, 22.5px);
                            // map-bgc w:13.7%,h:20%
                            margin-right: 5px;
                            margin-left: -5px;
                        }


                    }

                    .map-businesshour {
                        // height: 20px;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: 0.1em;
                        color: #54291C;

                        .businesshour-logo {
                            @include size(14px, 14px);
                            margin-right: 5px;
                        }


                    }

                    .map-shopphone {
                        // height: 20px;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: 0.1em;
                        color: #54291C;

                        .shopphone-logo {
                            @include size(14px, 14px);
                            margin-right: 5px;
                        }
                    }
                }

                .map-a01,
                .map-a02,
                .map-a03,
                .map-a04 {
                    @extend %map-house;

                    &:hover {
                        @extend %map-househover;

                        ~.map-black-bgc {
                            display: block;
                        }
                    }
                }

                .map-a01 {
                    top: 4.9%;
                    left: 20.9%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: -13.5%;
                            left: 18.9%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-a02 {
                    top: 4.8%;
                    left: 29.7%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: -13.5%;
                            left: 27.9%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-a03 {
                    top: 30.8%;
                    left: 3.7%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 12.9%;
                            left: 1.9%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-a04 {
                    top: 30.8%;
                    left: 13.7%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 12.9%;
                            left: 11.9%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-b01,
                .map-b02,
                .map-b03,
                .map-b04,
                .map-b05,
                .map-b06 {
                    @extend %map-house;

                    &:hover {
                        @extend %map-househover;

                        ~.map-black-bgc {
                            display: block;
                        }
                    }
                }

                .map-b01 {
                    top: 48.8%;
                    left: 4.6%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 30.6%;
                            left: 2.7%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-b02 {
                    top: 48.7%;
                    left: 16.5%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 30.6%;
                            left: 14.7%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-b03 {
                    top: 48.6%;
                    left: 26.3%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 30.4%;
                            left: 24.2%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-b04 {
                    top: 69%;
                    left: 4%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 50.6%;
                            left: 2.2%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-b05 {
                    top: 69%;
                    left: 13.6%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 50.6%;
                            left: 11.7%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-b06 {
                    top: 69%;
                    left: 23.6%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 50.6%;
                            left: 21.7%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-c01,
                .map-c02,
                .map-c03,
                .map-c04,
                .map-c05,
                .map-c06,
                .map-c07,
                .map-c08,
                .map-c09,
                .map-c10,
                .map-c11 {
                    @extend %map-house;

                    &:hover {
                        @extend %map-househover;

                        ~.map-black-bgc {
                            display: block;
                        }
                    }
                }

                .map-c01 {
                    top: 3.35%;
                    left: 45.5%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: -15.2%;
                            left: 43.7%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-c02 {
                    top: 3.4%;
                    left: 54.5%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: -15.3%;
                            left: 52.7%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-c03 {
                    top: 3.4%;
                    left: 63.5%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: -15.3%;
                            left: 61.5%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-c04 {
                    top: 3.2%;
                    left: 72.5%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: -15.3%;
                            left: 70.5%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-c05 {
                    top: 2.9%;
                    left: 81%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: -15.7%;
                            left: 79%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-c06 {
                    top: 23.9%;
                    left: 42%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 5.3%;
                            left: 40.5%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-c07 {
                    top: 23.9%;
                    left: 50.8%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 5.3%;
                            left: 48.7%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-c08 {
                    top: 23.3%;
                    left: 59.8%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 4.9%;
                            left: 58%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-c09 {
                    top: 23.3%;
                    left: 68.8%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 4.9%;
                            left: 67%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-c10 {
                    top: 23.3%;
                    left: 77.8%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 4.9%;
                            left: 76%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-c11 {
                    top: 23.3%;
                    left: 86.8%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 4.7%;
                            left: 84.5%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-d01,
                .map-d02,
                .map-d03,
                .map-d04,
                .map-d05,
                .map-d06,
                .map-d07,
                .map-d08,
                .map-d09,
                .map-d10,
                .map-d11,
                .map-d12 {
                    @extend %map-house;

                    &:hover {
                        @extend %map-househover;

                        ~.map-black-bgc {
                            display: block;
                        }
                    }
                }

                .map-d01 {
                    top: 42.3%;
                    left: 43.5%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 23.7%;
                            left: 41.8%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-d02 {
                    top: 42%;
                    left: 52%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 23.5%;
                            left: 50%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-d03 {
                    top: 42%;
                    left: 60.5%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 23.5%;
                            left: 58.5%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-d04 {
                    top: 42%;
                    left: 69%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 23.5%;
                            left: 67.2%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-d05 {
                    top: 41.9%;
                    left: 77.5%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 23.5%;
                            left: 75.8%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-d06 {
                    top: 41.6%;
                    left: 86.2%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 23.2%;
                            left: 84.2%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-d07 {
                    top: 69.1%;
                    left: 41.2%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 50.7%;
                            left: 39.6%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-d08 {
                    top: 69.1%;
                    left: 50.2%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 50.7%;
                            left: 48.4%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-d09 {
                    top: 69.1%;
                    left: 59%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 50.7%;
                            left: 57%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-d10 {
                    top: 69.1%;
                    left: 67.5%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 50.7%;
                            left: 65.8%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-d11 {
                    top: 69.1%;
                    left: 76.2%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 50.7%;
                            left: 74.2%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }

                .map-d12 {
                    top: 69.1%;
                    left: 84.8%;

                    &:hover {
                        ~.map-message {
                            display: block;
                            top: 50.7%;
                            left: 82.8%;
                            transform: translate(-35px, -10px);
                        }
                    }
                }
            }

        }
    }
}


.view {
    @include size($w:100%, $h:100vh);
    border: 20px solid $main-color;
    @include flex;
    position: relative;
    overflow: hidden;

    .view-container {
        @include size($w:80vw, $h:80vh);


        .view-title {
            position: relative;
            padding-left: 60px;

            &::before {
                @extend %title-cube;
                @include size(60px, 60px);
                transform: translate(-50px, -20px);
                z-index: -1;
            }

            h2 {
                @include font($h1, start);
                letter-spacing: 0.3em;
            }

            span {
                @include font($h5);
                letter-spacing: 0.1em;

                &::before {
                    @extend %title-vertical-text;
                    content: 'About';

                }
            }
        }

        .view-main {
            width: 100vw;
            height: 90vh;
            // background-color: rgba(0, 0, 0, 0.7);
            padding: 10px 0;
            position: absolute;
            left: 0;

            .swiper-container {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                position: relative;

                .swiper-wrapper {
                    padding: 20px 0;

                    .swiper-slide {
                        @include size(280px, 460px);
                        margin-top: 170px;
                        border-radius: 20px;
                        text-align: center;
                        font-size: $h7;
                        // transition: 250ms all;

                        // &:hover {
                        //     transform: scale(1.2);
                        //     z-index: 1;
                        // }

                        // &:first-child:hover {
                        //     margin: 0 30px;
                        // }

                        // &:last-child:hover {
                        //     margin: 0 -30px;
                        // }
                        a {

                            text-decoration: none;
                        }

                        .view-card {
                            @include size(280px, 460px);
                            background-color: $title-bg;
                            border-radius: 20px;
                            text-align: center;
                            font-size: 12px;
                            color: $body-bg;
                            line-height: 30px;
                            padding-top: 25px;

                            span {
                                display: block;
                                margin: 10px auto 25px;
                                @include size(230px, 180px);
                                background-position: center;
                                background-size: cover;
                            }

                            p:first-child {
                                font-size: 14px;
                            }

                            p:last-child {
                                letter-spacing: 0.2em;
                                line-height: 25px;
                            }
                        }


                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                    }

                    .swiper-slide-active {
                        transform: scale(1.2);
                        transition: .4s;

                    }

                    .swiper-button-next {
                        position: absolute;
                        top: 38%;
                        right: 37%;
                    }

                    .swiper-button-prev {
                        position: absolute;
                        top: 38%;
                        left: 37%;
                    }
                }
            }
        }
    }

}


.traffic {
    @include size($w:100%, $h:100vh);
    border: 20px solid $main-color;
    @include flex;
    position: relative;

    .traffic-container {
        @include size($w:80vw, $h:80vh);

        .traffic-title {
            position: relative;
            padding-left: 60px;

            &::before {
                @extend %title-cube;
                @include size(60px, 60px);
                transform: translate(-50px, -20px);
                z-index: -1;
            }

            h2 {
                @include font($h1, start);
                letter-spacing: 0.3em;
            }

            .tra-title-icon {
                @include font($h5);
                letter-spacing: 0.1em;

                &::before {
                    @extend %title-vertical-text;
                    content: 'About';

                }
            }

            .traffic-type {
                display: inline-block;
                @include size(364px, 48px);
                border-bottom: 24px solid $store-list-bg;
                text-align: center;
                @include position(64%, 44%, 0, 0);


                p {
                    font-size: $h2;
                    list-style: 60px;
                    letter-spacing: 0.2em;
                }

            }

        }

        .traffic-main {
            @include size(990px, 800px);
            margin: 66px auto 0 auto;

            .traffic-bus {
                width: 100%;
                display: flex;

                .traffic-logo {
                    @include size(190px, 190px);

                    .traffic-icon {
                        @extend %title-tra-circle;
                    }

                    p {
                        @extend %title-tra-logotext;
                    }
                }

                .traffic-content {
                    height: 190px;
                    display: flex;
                    align-items: center;

                    .traffic-content-text {
                        @include size(685px, 160px);
                        @extend %title-tra-contentarea;

                        p {
                            @extend %title-tra-contenttext;
                            line-height: 45px;
                        }

                        span {
                            display: inline-block;
                            @include size(194px, 48px);
                            border-bottom: 24px solid $store-list-bg;
                            text-align: center;
                            margin: 0 0 9px 54px;

                            p {
                                margin: 0px;
                                line-height: 60px;

                            }
                        }

                    }
                }
            }

            .traffic-car {
                width: 100%;
                margin-top: 60px;
                display: flex;

                .traffic-logo {
                    @include size(190px, 190px);

                    .traffic-icon {
                        @extend %title-tra-circle;
                    }

                    p {
                        @extend %title-tra-logotext;
                    }
                }

                .traffic-content {
                    height: 190px;
                    display: flex;
                    align-items: center;

                    .traffic-content-text {
                        @include size(685px, 114px);
                        @extend %title-tra-contentarea;
                        display: flex;
                        align-items: center;

                        p {
                            @extend %title-tra-contenttext;
                            line-height: 60px;
                        }
                    }
                }
            }

            .traffic-bike {
                width: 100%;
                margin-top: 60px;
                display: flex;

                .traffic-logo {
                    @include size(190px, 190px);

                    .traffic-icon {
                        @extend %title-tra-circle;
                    }

                    p {
                        @extend %title-tra-logotext;
                    }
                }

                .traffic-content {
                    height: 190px;
                    display: flex;
                    align-items: center;

                    .traffic-content-text {
                        @include size(685px, 114px);
                        @extend %title-tra-contentarea;
                        display: flex;
                        align-items: center;


                        p {
                            @extend %title-tra-contenttext;
                            line-height: 60px;

                        }

                        a {
                            @extend %title-tra-contenttext;
                            margin-left: 22px;
                            color: $store-tag-f-bg;
                            line-height: 60px;
                            text-decoration: none;
                        }
                    }
                }
            }

        }

    }

}

.contact {
    @include size($w:100%, $h:100vh);
    border: 20px solid $main-color;
    @include flex;
    position: relative;

    .contact-container {
        @include size($w:80vw, $h:80vh);


        .contact-title {
            position: relative;
            padding-left: 60px;

            &::before {
                @extend %title-cube;
                @include size(60px, 60px);
                transform: translate(-50px, -20px);
                z-index: -1;
            }

            h2 {
                @include font($h1, start);
                letter-spacing: 0.3em;
            }

            span {
                @include font($h5);
                letter-spacing: 0.1em;

                &::before {
                    @extend %title-vertical-text;
                    content: 'About';

                }
            }
        }

        .contact-main {
            @include size($w:1000px, $h:800px);
            background-color: $form-bg;
            margin: auto;
            border-radius: 10px;
            position: relative;

            .contact-form-title {
                @include size($w:100%, $h:100px);
                background-color: $form-title-bg;
                border-radius: 10px 10px 0 0;
                @include flex;

                .form-text {

                    h2 {
                        font-size: 30px;
                        line-height: 30px;
                        letter-spacing: 0.3em;

                    }

                    p {
                        font-size: 18px;
                        line-height: 30px;
                        letter-spacing: 0.05em;

                    }
                }

            }

            .contact-form-main {
                @include flex();
                padding-top: 71px;

                .contact-form {
                    width: 550px;
                    padding: 2px;

                    // .form-type {
                    //     @include size($w:150px, $h:41px);
                    //     background-color: $title-bg;
                    //     border-radius: 5px;
                    //     color: #fff;
                    //     position: absolute;
                    //     top: 140px;
                    //     right: 43px;
                    // }

                    .select-bcg {
                        @include flex();
                        @include size(150px, 40px);
                        background: $title-bg;
                        color: $body-bg;
                        font-size: $h6;
                        border-radius: 4px;
                        cursor: pointer;
                        position: absolute;
                        top: 140px;
                        right: 43px;

                    }

                    .bcground {
                        border-radius: 5px;


                        .form-type {

                            position: absolute;
                            top: 182px;
                            right: 43px;
                            list-style: none;
                            display: none;
                            transform: 1000;


                            li {
                                @include flex();
                                @include size(150px, 40px);
                                font-size: $h6;
                                letter-spacing: 0.2em;
                                background: $title-bg;
                                color: $body-bg;
                                cursor: pointer;

                                &:hover {
                                    background-color: $tag-bg !important;
                                }

                                &:first-child {
                                    border-radius: 4px 4px 0 0;
                                }

                                &:last-child {
                                    border-radius: 0 0 4px 4px;
                                }
                            }
                        }

                        .form-type.active {
                            display: block;
                        }
                    }

                    p {
                        font-size: $h7;
                        line-height: 40px;
                        letter-spacing: 0.2em;
                        color: $main-color;
                        margin-left: 8px;
                    }

                    input {
                        @include size($w:546px, $h:40px);
                        border: 2px solid #e0e0e0;

                    }

                    select {
                        @include size($w:193px, $h:40px);
                        border-radius: 4px;
                        border: 2px solid #e0e0e0;
                        background-color: #fff;
                        color: $main-color;

                    }

                    textarea {
                        @include size($w:546px, $h:135px);
                        border-radius: 6px;
                        border: 2px solid #e0e0e0;
                    }

                    .form-sendout {
                        @include position($tp:727px, $lf:499px);
                        @include size($w:237px, $h:50px);
                        // transform:translate(10%,10%);
                        background-color: $title-bg;
                        border-radius: 6px;
                        color: #fff;
                        font-size: 22px;
                        line-height: 50px;
                        letter-spacing: 0.2em;
                    }

                    .form-storename {
                        margin-bottom: 15px;
                    }

                    .form-producttype {
                        margin-bottom: 35px;

                        p {
                            line-height: 60px;
                        }

                        .form-optiontype {
                            @include size(150px, 40px);
                            @include flex(flex-start);
                            padding-left: 5px;
                            background: #ffffff;
                            border-radius: 4px;
                            color: #000000;
                            font-size: $h7;
                            cursor: pointer;
                        }

                        .opground {
                            border-radius: 5px;

                            .optiontype {
                                position: absolute;
                                top: 56.3%;
                                left: 22.7%;
                                list-style: none;
                                display: none;
                                transform: 1000;

                                li {
                                    @include flex(flex-start);
                                    @include size(150px, 40px);
                                    padding-left: 5px;
                                    font-size: $h7;
                                    letter-spacing: 0.2em;
                                    color: #000000;
                                    background: #ffffff;
                                    cursor: pointer;

                                    &:hover {
                                        background-color: $title-bg !important;
                                    }

                                    &:first-child {
                                        border-radius: 4px 4px 0 0;
                                    }

                                    &:last-child {
                                        border-radius: 0 0 4px 4px;
                                    }
                                }
                            }

                            .optiontype.active {
                                display: block;
                            }
                        }





                    }


                }
            }

        }

    }
}