.news .effect-area .news-container .news-title::before, .about-us .about-us-container .about-us-title::before {
  content: '';
  position: absolute;
  background: #D28E76;
  border-radius: 5px;
}

.news .effect-area .news-container .news-title span::before, .about-us .about-us-container .about-us-title span::before {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform: translate(-15%, -80%) rotate(90deg);
          transform: translate(-15%, -80%) rotate(90deg);
  letter-spacing: 0.1em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFCF4;
  font-family: 'Noto Sans', sans-serif;
  color: #54291c;
}

h2 {
  margin: 0;
}

.logo-img {
  position: absolute;
  top: 50px;
  right: 250px;
}

.logo-text {
  position: absolute;
  top: 50px;
  right: 50px;
}

.fp-tableCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 40px) !important;
  display: flex !important;
}

.loading-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 20px solid #54291c;
}

.loading-page .container {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.loading-page .container img {
  margin-right: 30px;
}

.loading-page .container.complete {
  opacity: 0;
}

.loading-page .container .loading-bar {
  width: 18vw;
  height: 3vh;
  position: relative;
  margin-top: 43px;
  background-color: #D28E76;
  border-radius: 20px;
}

.loading-page .container .loading-bar #loading {
  width: 0%;
  height: 3vh;
  background-color: #96422D;
  border-radius: 20px;
}

.loading-page .container .loading-bar #loading_percent {
  font-size: 1.375rem;
  text-align: end;
  line-height: 3vh;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  color: #ffffff;
}

.news {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 20px solid #54291c;
}

.news .effect-area {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-animation: fadeout 2s;
          animation: fadeout 2s;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.news .effect-area .news-container {
  width: 80vw;
  height: 76vh;
}

.news .effect-area .news-container .news-title {
  position: relative;
  padding-left: 60px;
}

.news .effect-area .news-container .news-title::before {
  width: 60px;
  height: 60px;
  -webkit-transform: translate(-50px, -20px);
          transform: translate(-50px, -20px);
  z-index: -1;
}

.news .effect-area .news-container .news-title h2 {
  font-size: 2.8125rem;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.3em;
}

.news .effect-area .news-container .news-title span {
  font-size: 1.5rem;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

.news .effect-area .news-container .news-title span::before {
  content: 'News';
}

.about-us {
  width: 100%;
  height: 100vh;
  position: relative;
  border: 20px solid #54291c;
}

.about-us .about-us-container {
  width: 80vw;
  height: 68vh;
}

.about-us .about-us-container .about-us-title {
  position: relative;
  padding-left: 60px;
}

.about-us .about-us-container .about-us-title::before {
  width: 60px;
  height: 60px;
  -webkit-transform: translate(-50px, -20px);
          transform: translate(-50px, -20px);
  z-index: -1;
}

.about-us .about-us-container .about-us-title h2 {
  font-size: 2.8125rem;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.3em;
}

.about-us .about-us-container .about-us-title span {
  font-size: 1.5rem;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

.about-us .about-us-container .about-us-title span::before {
  content: 'About';
}

.about-us .about-us-container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 87%;
  position: relative;
}

.about-us .about-us-container article .about-us-swiper {
  width: 52vw;
  height: 100%;
  overflow: hidden;
}

.about-us .about-us-container article .about-us-swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .about-us-container article .about-us-swiper .swiper-slide .img {
  width: 39vw;
  height: 78%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about-us .about-us-container article .about-us-swiper .swiper-button-next {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 40vw;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.about-us .about-us-container article .about-us-swiper .swiper-button-next::after {
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../img/aboutUs-swiper-right.png);
  font-family: none;
}

.about-us .about-us-container article .about-us-swiper .swiper-button-prev {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: -70px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.about-us .about-us-container article .about-us-swiper .swiper-button-prev::after {
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../img/aboutUs-swiper-left.png);
  font-family: none;
}

.about-us .about-us-container article .about-us-swiper .swiper-pagination {
  bottom: 2vh;
  left: -21vw;
}

.about-us .about-us-container article .about-us-swiper .swiper-pagination span {
  background-color: #D28E76;
}

.about-us .about-us-container article .about-us-content {
  width: 32vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us .about-us-container article .about-us-content h3 {
  font-size: 2.25rem;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.3em;
}

.about-us .about-us-container article .about-us-content p {
  width: 100%;
  height: 300px;
  font-size: 1.5rem;
  text-align: start;
  line-height: 60px;
  margin: 0;
}
/*# sourceMappingURL=index-stanley.css.map */