header nav ul li a {
  padding-left: 0.521vw;
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FBE6C3;
  font-weight: 500;
  font-size: 1.354vw;
  letter-spacing: 0.3em;
}

header nav ul li a .icon {
  position: relative;
  display: block;
  min-width: 2.08vw;
  height: 5.56vh;
  line-height: 5.56vh;
  text-align: center;
}

header nav ul li a .title {
  position: relative;
  display: block;
  height: 5.56vh;
  line-height: 5.56vh;
  white-space: nowrap;
}

#about-us .effect-area .about-us-container .about-us-title::before, #news .news-container .news-title::before, #store .store-container .store-title::before, #traffic .traffic-container .traffic-title::before, #contact .contact-container .contact-title::before {
  width: 3.125vw;
  height: 3.125vw;
  content: '';
  position: absolute;
  background: #D28E76;
  border-radius: 5px;
  -webkit-transform: translate(-2.6vw, -1.85vh);
          transform: translate(-2.6vw, -1.85vh);
  z-index: -1;
}

#about-us .effect-area .about-us-container .about-us-title span::before, #news .news-container .news-title span::before, #store .store-container .store-title span::before, #traffic .traffic-container .traffic-title .tra-title-icon::before, #contact .contact-container .contact-title span::before {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform: translate(-15%, -80%) rotate(90deg);
          transform: translate(-15%, -80%) rotate(90deg);
  letter-spacing: 0.1em;
}

#about-us .effect-area .about-us-container article .about-us-swiper .swiper-button-next, #about-us .effect-area .about-us-container article .about-us-swiper .swiper-button-prev {
  width: 2.6vw;
  height: 2.6vw;
  border-radius: 50%;
  background-color: #C4C4C4;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  opacity: 0;
}

#news .news-container article .date-btns button {
  min-width: 2.6vw;
  height: 2.78vh;
  border-radius: 6px;
  border: 0;
  margin: 1.48vh 0.42vw 0 0;
  background-color: #F2F2F2;
  color: #96422D;
  font-size: 0.625vw;
  font-weight: bold;
  text-align: center;
  line-height: 2.78vh;
  letter-spacing: 0.2em;
  cursor: pointer;
}

#news .news-container article .content-infs .content-inf {
  width: 100%;
  height: 9.26vh;
  position: relative;
  margin-top: 1.85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  background-color: #F2F2F2;
  cursor: pointer;
}

#news .news-container article .content-infs .content-inf::before {
  content: '';
  position: absolute;
  width: 1.04vw;
  height: 9.26vh;
  left: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #D28E76;
}

#news .news-container article .content-infs .content-inf .inf-detail .inf-tag {
  width: 4.27vw;
  height: 1.945vh;
  margin-top: 1.39vh;
  background-color: #AB3030;
  text-align: center;
  line-height: 1.945vh;
  letter-spacing: 0.2em;
  font-size: 0.729vw;
  color: #FFFCF4;
}

#traffic .traffic-container .traffic-main .traffic-bus .traffic-logo .traffic-icon, #traffic .traffic-container .traffic-main .traffic-car .traffic-logo .traffic-icon, #traffic .traffic-container .traffic-main .traffic-bike .traffic-logo .traffic-icon {
  width: 6.77vw;
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  background-color: #D28E76;
}

#traffic .traffic-container .traffic-main .traffic-bus .traffic-logo p, #traffic .traffic-container .traffic-main .traffic-car .traffic-logo p, #traffic .traffic-container .traffic-main .traffic-bike .traffic-logo p {
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  font-size: 1.146vw;
  line-height: 5.56vh;
  letter-spacing: 10%;
}

#traffic .traffic-container .traffic-main .traffic-bus .traffic-content .traffic-content-text, #traffic .traffic-container .traffic-main .traffic-car .traffic-content .traffic-content-text, #traffic .traffic-container .traffic-main .traffic-bike .traffic-content .traffic-content-text {
  margin-left: 5.2vw;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border-right: 1.56vw solid #D28E76;
}

#traffic .traffic-container .traffic-main .traffic-bus .traffic-content .traffic-content-text p, #traffic .traffic-container .traffic-main .traffic-car .traffic-content .traffic-content-text p, #traffic .traffic-container .traffic-main .traffic-bike .traffic-content .traffic-content-text p {
  margin-left: 2.24vw;
  font-size: 1.354vw;
  letter-spacing: 0.2em;
  font-family: 'Noto Sans HK', sans-serif;
}

#store .store-container article nav .nav-tap-list .nav-tap {
  width: 7.8vw;
  height: 3.25vh;
  font-size: 1.146vw;
  text-align: center;
  line-height: 3.25vh;
  letter-spacing: 0.1em;
  background-color: #C4C4C4;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFCF4;
  font-family: 'Noto Sans', sans-serif;
  color: #54291c;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #54291c;
}

a:hover {
  text-decoration: none;
  color: #54291c;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

ul {
  list-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.fp-tableCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 96.296vh !important;
}

.logo-img {
  width: 5.729vw;
  height: 5.729vw;
  position: absolute;
  top: 2.8vw;
  right: 11.5vw;
}

.logo-text {
  width: 7.552vw;
  height: 4.48vw;
  position: absolute;
  top: 3.8vw;
  right: 2.6vw;
}

#goTopButton {
  width: 4.17vw;
  height: 4.17vw;
  font-size: 1.146vw;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0.1em;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  color: #596E79;
}

#goTopButton::after {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: 'Top';
}

.loading-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1.04vw solid #54291c;
}

.loading-page .container {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.loading-page .container img {
  margin-right: 30px;
}

.loading-page .container.complete {
  opacity: 0;
}

.loading-page .container .loading-bar {
  width: 18vw;
  height: 3vh;
  position: relative;
  margin-top: 43px;
  background-color: #D28E76;
  border-radius: 20px;
}

.loading-page .container .loading-bar #loading {
  width: 0%;
  height: 3vh;
  background-color: #96422D;
  border-radius: 20px;
}

.loading-page .container .loading-bar #loading_percent {
  font-size: 1.146vw;
  text-align: end;
  line-height: 3vh;
  letter-spacing: 0.1em;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  color: #ffffff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: fixed;
  z-index: 50;
}

header nav {
  width: 1.93vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 10px;
  background-color: #54291c;
  -webkit-box-shadow: 0 5px 15px;
          box-shadow: 0 5px 15px;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

header nav ul {
  display: none;
  width: 20%;
  padding: 0;
  z-index: 20;
  list-style: none;
}

header nav ul li {
  position: relative;
  width: 100%;
  border-radius: 10px;
}

header nav ul li:hover {
  background-color: #efefef;
}

header nav ul li:hover a {
  color: rgba(84, 41, 28, 0.9);
  font-weight: bold;
}

header nav .nav-img {
  width: 110px;
  height: 109px;
  display: none;
  right: 7%;
  bottom: 8%;
  background-image: url(../img/logo-bg-img.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

header nav.active {
  width: 50vw;
  height: 100vh;
  background-color: rgba(84, 41, 28, 0.9);
}

header .toggle {
  width: 30px;
  height: 80vh;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
}

header .toggle::before {
  width: 12.5px;
  height: 25px;
  content: "";
  position: absolute;
  left: 15%;
  top: 50%;
  background-image: url(../img/nav-right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 20px;
  text-align: center;
}

header .toggle.active {
  height: 100vh;
}

header .toggle.active::before {
  top: 50%;
  background-image: url(../img/nav-left.png);
}

header .ulbar.active {
  display: block;
}

header .nav-img.active {
  display: block;
}

#about-us {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 1.04vw solid #54291c;
}

#about-us .effect-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-animation: fadeout 2s;
          animation: fadeout 2s;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#about-us .effect-area .about-us-container {
  width: 80vw;
  height: 68vh;
}

#about-us .effect-area .about-us-container .about-us-title {
  position: relative;
  padding-left: 3.125vw;
}

#about-us .effect-area .about-us-container .about-us-title h2 {
  font-size: 2.34vw;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.3em;
}

#about-us .effect-area .about-us-container .about-us-title span {
  font-size: 1.25vw;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

#about-us .effect-area .about-us-container .about-us-title span::before {
  content: 'About';
}

#about-us .effect-area .about-us-container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 87%;
}

#about-us .effect-area .about-us-container article .about-us-swiper {
  width: 52vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#about-us .effect-area .about-us-container article .about-us-swiper:hover .swiper-button {
  opacity: 1;
}

#about-us .effect-area .about-us-container article .about-us-swiper .about-us-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-us .effect-area .about-us-container article .about-us-swiper .about-us-slide .img {
  width: 39vw;
  height: 78%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#about-us .effect-area .about-us-container article .about-us-swiper .swiper-button-next {
  right: 11vw;
}

#about-us .effect-area .about-us-container article .about-us-swiper .swiper-button-next::after {
  width: 2.6vw;
  height: 2.6vw;
  content: '';
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  background-image: url(../img/aboutUs-swiper-right.png);
  background-size: cover;
  font-family: none;
}

#about-us .effect-area .about-us-container article .about-us-swiper .swiper-button-prev::after {
  width: 2.6vw;
  height: 2.6vw;
  content: '';
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
  background-image: url(../img/aboutUs-swiper-left.png);
  background-size: cover;
  font-family: none;
}

#about-us .effect-area .about-us-container article .about-us-swiper .swiper-pagination {
  bottom: 2vh;
  left: -5.5vw;
}

#about-us .effect-area .about-us-container article .about-us-swiper .swiper-pagination span {
  width: 0.42vw;
  height: 0.42vw;
  background-color: #D28E76;
}

#about-us .effect-area .about-us-container article .about-us-content {
  width: 32vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 1.25vw;
  text-align: start;
  line-height: 5.56vh;
  letter-spacing: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#news {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 1.04vw solid #54291c;
}

#news .news-container {
  width: 70vw;
  height: 76vh;
}

#news .news-container .news-title {
  position: relative;
  padding-left: 3.125vw;
}

#news .news-container .news-title h2 {
  font-size: 2.34vw;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.3em;
}

#news .news-container .news-title span {
  font-size: 1.25vw;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

#news .news-container .news-title span::before {
  content: 'News';
}

#news .news-container article {
  padding: 7.4vh 0 0 1.67vw;
}

#news .news-container article .date-title {
  width: 5.21vw;
  height: 2.78vh;
  font-size: 0.833vw;
  text-align: center;
  line-height: 2.78vh;
  letter-spacing: 0.2em;
  border-radius: 6px;
  background-color: #54291c;
  color: #FBE6C3;
}

#news .news-container article .date-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#news .news-container article .date-btns .focus-change {
  background-color: #D28E76;
  color: #ffffff;
}

#news .news-container article .date-btns button:hover {
  background-color: #D28E76;
  color: #ffffff;
}

#news .news-container article .content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6.5vh 0 4.5vh 0;
}

#news .news-container article .content-title h3 {
  font-size: 2.34vw;
  text-align: center;
  line-height: 5.56vh;
  letter-spacing: 0.2em;
  position: relative;
  padding-left: 0.573vw;
}

#news .news-container article .content-title h3::before {
  width: 6.35vw;
  height: 2.22vh;
  content: '';
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
  border-radius: 6px;
  background-color: #FBE6C3;
  z-index: -1;
}

#news .news-container article .content-title div {
  font-size: 0.9375vw;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.2em;
  margin-left: 1.04vw;
  padding-top: 1.39vh;
  font-weight: bold;
}

#news .news-container article .content-title div:last-child {
  margin: 0;
}

#news .news-container article .content-infs .content-inf {
  -webkit-box-shadow: 0 3px #C4C4C4;
          box-shadow: 0 3px #C4C4C4;
}

#news .news-container article .content-infs .content-inf:hover {
  background-color: #E0E0E0;
}

#news .news-container article .content-infs .content-inf:hover::before {
  background-color: #cc7e63;
}

#news .news-container article .content-infs .content-inf:active {
  -webkit-box-shadow: 0 0 #C4C4C4;
          box-shadow: 0 0 #C4C4C4;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

#news .news-container article .content-infs .content-inf .inf-date {
  width: 5.57vw;
  height: 100%;
  padding-left: 1.98vw;
  font-weight: bold;
}

#news .news-container article .content-infs .content-inf .inf-date .during {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

#news .news-container article .content-infs .content-inf .inf-date .during .end-date {
  font-size: 0.625vw;
  text-align: start;
  line-height: 20px;
  letter-spacing: 0.2em;
  padding: 0 0 5px 10px;
}

#news .news-container article .content-infs .content-inf .inf-date > span {
  font-size: 0.9375vw;
  text-align: start;
  line-height: 20px;
  letter-spacing: 0.2em;
}

#news .news-container article .content-infs .content-inf .inf-detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1.04vw;
}

#news .news-container article .content-infs .content-inf .inf-detail h4 {
  font-size: 1.458vw;
  text-align: start;
  line-height: 5.56vh;
  letter-spacing: 0.2em;
  margin: 0;
}

#news .news-container article .content-infs .content-inf > span {
  width: 4.17vw;
  height: 100%;
  font-size: 1.146vw;
  text-align: start;
  line-height: 9.26vh;
  letter-spacing: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.56vw;
}

#news .news-container article .content-infs .content-inf > span i {
  margin-left: 0.78vw;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  font-size: 0.833vw;
}

#news .news-container article .content-infs .content-inf:nth-child(2) .inf-tag {
  background-color: #96422D;
}

#store {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 1.04vw solid #54291c;
}

#store .store-container {
  width: 86vw;
  height: 80vh;
}

#store .store-container .store-title {
  position: relative;
  padding-left: 3.125vw;
}

#store .store-container .store-title h2 {
  font-size: 2.34vw;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.3em;
}

#store .store-container .store-title span {
  font-size: 1.25vw;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

#store .store-container .store-title span::before {
  content: 'SHOP';
}

#store .store-container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.63vh;
  padding-left: 5.73vw;
}

#store .store-container article .shop-window {
  width: 56vw;
  height: 36.5625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 61vh;
  margin-right: 5.2vw;
  position: relative;
}

#store .store-container article .shop-window > img {
  width: 56vw;
  height: 36.5625vw;
  max-height: 61vh;
  position: relative;
  z-index: 99;
}

#store .store-container article .shop-window > img:hover ~ figure::before {
  opacity: 0.3;
}

#store .store-container article .shop-window > img:hover ~ ul {
  opacity: 1;
}

#store .store-container article .shop-window > img:hover ~ .window-title {
  opacity: 1;
}

#store .store-container article .shop-window figure {
  width: 30.47vw;
  height: 22.135vw;
  max-height: 39vh;
  position: absolute;
  -webkit-transform: translateY(-17%);
          transform: translateY(-17%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#store .store-container article .shop-window figure::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  opacity: 0;
  background-color: black;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#store .store-container article .shop-window .figure-hide {
  opacity: 0;
}

#store .store-container article .shop-window .window-title {
  font-size: 1.354vw;
  text-align: center;
  line-height: 3.375vw;
  letter-spacing: 0.1em;
  position: absolute;
  border-radius: 3px;
  padding: 0 1.04vw;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-weight: bolder;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  z-index: 3;
  opacity: 0;
}

#store .store-container article .shop-window .title-hide {
  display: none;
}

#store .store-container article .shop-window > ul {
  position: absolute;
  left: 24.5vw;
  padding: 0;
  z-index: 9999;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#store .store-container article .shop-window > ul:hover {
  opacity: 1;
}

#store .store-container article .shop-window > ul:hover ~ figure::before {
  opacity: 0.3;
}

#store .store-container article .shop-window > ul:hover ~ .window-title {
  opacity: 1;
}

#store .store-container article .shop-window > ul .check-btn {
  width: 7vw;
  height: 3.375vw;
  font-size: 1.354vw;
  text-align: center;
  line-height: 3.375vw;
  letter-spacing: 0.1em;
  position: absolute;
  -webkit-transform: translate(-56%, -10%);
          transform: translate(-56%, -10%);
  border: solid 2px #ffffff;
  color: #ffffff;
  cursor: pointer;
}

#store .store-container article .shop-window > ul li:nth-child(2) > .check-btn {
  -webkit-transform: translate(56%, -10%);
          transform: translate(56%, -10%);
}

#store .store-container article .shop-window .check-list-hide {
  display: none;
}

#store .store-container article nav {
  width: 17.7vw;
  font-weight: bold;
  padding-bottom: 5.56vh;
}

#store .store-container article nav h3 {
  font-size: 1.875vw;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.3em;
}

#store .store-container article nav .nav-tap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.78vw;
  margin-bottom: 2.31vh;
}

#store .store-container article nav .nav-tap-list .tap-active {
  background-color: #96422D;
  color: #FBE6C3;
}

#store .store-container article nav .shop-list {
  width: 16.9vw;
  height: 49vh;
  padding: 3.7vh 0 0 2.08vw;
  background-color: #FBE6C3;
  -webkit-box-shadow: 7px 7px 0 7px #D28E76;
          box-shadow: 7px 7px 0 7px #D28E76;
}

#store .store-container article nav .shop-list > div {
  margin-bottom: 2.8vh;
}

#store .store-container article nav .shop-list > div span {
  font-size: 1.146vw;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.1em;
  position: relative;
  cursor: pointer;
}

#store .store-container article nav .shop-list > div span:hover {
  border-bottom: none;
}

#store .store-container article nav .shop-list > div span:hover::before {
  width: 100%;
  height: 3px;
  content: '';
  position: absolute;
  bottom: -3px;
  background-color: #96422D;
  -webkit-animation: border 1s ease-in-out;
          animation: border 1s ease-in-out;
}

@-webkit-keyframes border {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes border {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

#store .store-container article nav .shop-list > div .bottom-line {
  border-bottom: solid 3px #96422D;
}

#store .store-container article nav .list-active {
  display: none;
}

#traffic {
  width: 100%;
  height: 100vh;
  border: 1.04vw solid #54291c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#traffic .traffic-container {
  width: 80vw;
  height: 80vh;
}

#traffic .traffic-container .traffic-title {
  position: relative;
  padding-left: 3.125vw;
}

#traffic .traffic-container .traffic-title h2 {
  font-size: 2.34vw;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.1em;
  letter-spacing: 0.3em;
}

#traffic .traffic-container .traffic-title .tra-title-icon {
  font-size: 1.25vw;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

#traffic .traffic-container .traffic-title .tra-title-icon::before {
  content: 'About';
}

#traffic .traffic-container .traffic-title .traffic-type {
  display: inline-block;
  width: 18.96vw;
  height: 4.44vh;
  position: absolute;
  top: 64%;
  left: 44%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  border-bottom: 1.25vw solid #FBE6C3;
  text-align: center;
}

#traffic .traffic-container .traffic-title .traffic-type p {
  font-size: 1.875vw;
  list-style: 60px;
  letter-spacing: 0.2em;
  font-weight: bold;
}

#traffic .traffic-container .traffic-main {
  width: 51.56vw;
  height: 74vh;
  margin: 6.11vh auto 0 auto;
}

#traffic .traffic-container .traffic-main .traffic-bus {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#traffic .traffic-container .traffic-main .traffic-bus .traffic-logo {
  width: 9.896vw;
  height: 9.896vw;
}

#traffic .traffic-container .traffic-main .traffic-bus .traffic-content {
  height: 17.59vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#traffic .traffic-container .traffic-main .traffic-bus .traffic-content .traffic-content-text {
  width: 35.67vw;
  height: 14.81vh;
}

#traffic .traffic-container .traffic-main .traffic-bus .traffic-content .traffic-content-text p {
  line-height: 4.17vh;
}

#traffic .traffic-container .traffic-main .traffic-bus .traffic-content .traffic-content-text span {
  display: inline-block;
  width: 10.1vw;
  height: 4.44vh;
  border-bottom: 24px solid #FBE6C3;
  text-align: center;
  margin: 0 0 9px 2.81vw;
}

#traffic .traffic-container .traffic-main .traffic-bus .traffic-content .traffic-content-text span p {
  margin: 0px;
  line-height: 5.56vh;
}

#traffic .traffic-container .traffic-main .traffic-car {
  width: 100%;
  margin-top: 5.56vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#traffic .traffic-container .traffic-main .traffic-car .traffic-logo {
  width: 9.896vw;
  height: 9.896vw;
}

#traffic .traffic-container .traffic-main .traffic-car .traffic-content {
  height: 17.59vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#traffic .traffic-container .traffic-main .traffic-car .traffic-content .traffic-content-text {
  width: 35.67vw;
  height: 14.81vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#traffic .traffic-container .traffic-main .traffic-car .traffic-content .traffic-content-text p {
  line-height: 4.17vh;
}

#traffic .traffic-container .traffic-main .traffic-bike {
  width: 100%;
  margin-top: 5.56vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#traffic .traffic-container .traffic-main .traffic-bike .traffic-logo {
  width: 9.896vw;
  height: 9.896vw;
}

#traffic .traffic-container .traffic-main .traffic-bike .traffic-content {
  height: 17.59vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#traffic .traffic-container .traffic-main .traffic-bike .traffic-content .traffic-content-text {
  width: 35.67vw;
  height: 14.81vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#traffic .traffic-container .traffic-main .traffic-bike .traffic-content .traffic-content-text p {
  line-height: 4.17vh;
}

#contact {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.04vw solid #54291c;
  position: relative;
}

#contact .contact-container {
  width: 80vw;
  height: 80vh;
}

#contact .contact-container .contact-title {
  position: relative;
  padding-left: 3.125vw;
}

#contact .contact-container .contact-title h2 {
  font-size: 2.34vw;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.1em;
  letter-spacing: 0.3em;
}

#contact .contact-container .contact-title span {
  font-size: 1.25vw;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

#contact .contact-container .contact-title span::before {
  content: 'About';
}

#contact .contact-container .contact-main {
  width: 52.08vw;
  height: 74.07vh;
  background-color: #F2F2F2;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

#contact .contact-container .contact-main .contact-form-title {
  width: 100%;
  height: 9.26vh;
  background-color: #E0E0E0;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .contact-container .contact-main .contact-form-title .form-text h2 {
  font-size: 1.458vw;
  line-height: 1.458vw;
  letter-spacing: 0.3em;
}

#contact .contact-container .contact-main .contact-form-title .form-text p {
  font-size: 0.9375vw;
  line-height: 1.458vw;
  letter-spacing: 0.05em;
}

#contact .contact-container .contact-main .contact-form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6.57vh;
}

#contact .contact-container .contact-main .contact-form-main .contact-form {
  width: 28.65vw;
  padding: 2px;
}

#contact .contact-container .contact-main .contact-form-main .contact-form .form-type {
  width: 7.81vw;
  height: 3.8vh;
  background-color: #D28E76;
  border-radius: 5px;
  color: #ffffff;
  position: absolute;
  top: 12.96vh;
  right: 2.24vw;
}

#contact .contact-container .contact-main .contact-form-main .contact-form p {
  font-size: 0.9375vw;
  line-height: 3.7vh;
  letter-spacing: 0.2em;
  color: #54291c;
  margin-left: 8px;
}

#contact .contact-container .contact-main .contact-form-main .contact-form input {
  width: 28.44vw;
  height: 3.7vh;
  border: 2px solid #E0E0E0;
}

#contact .contact-container .contact-main .contact-form-main .contact-form select {
  width: 10.05vw;
  height: 3.7vh;
  font-size: 1.146vw;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
  border-radius: 4px;
  border: 2px solid #E0E0E0;
  background-color: #ffffff;
  color: #54291c;
}

#contact .contact-container .contact-main .contact-form-main .contact-form select option {
  width: 10.05vw;
  height: 3.7vh;
}

#contact .contact-container .contact-main .contact-form-main .contact-form textarea {
  width: 28.44vw;
  height: 12.5vh;
  border-radius: 6px;
  border: 2px solid #E0E0E0;
}

#contact .contact-container .contact-main .contact-form-main .contact-form .form-sendout {
  position: absolute;
  top: 67.3vh;
  left: 26vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 12.34vw;
  height: 4.63vh;
  font-size: 1.146vw;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.2em;
  background-color: #D28E76;
  border-radius: 6px;
  color: #ffffff;
}

#contact .contact-container .contact-main .contact-form-main .contact-form .form-storename {
  margin-bottom: 1.39vh;
}

#contact .contact-container .contact-main .contact-form-main .contact-form .form-producttype {
  margin-bottom: 3.24vh;
}

#contact .contact-container .contact-main .contact-form-main .contact-form .form-producttype p {
  line-height: 5.56vh;
}

footer {
  width: 100%;
  height: 64.81vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #596E79;
  position: relative;
  color: #ffffff;
}

footer .footer-logo-img {
  width: 4.84vw;
  height: 4.84vw;
  position: absolute;
  top: 50.92vh;
  left: 8.3vw;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

footer .footer-logo-text {
  width: 7.55vw;
  height: 4.48vw;
  position: absolute;
  top: 50.92vh;
  left: 8.3vw;
  -webkit-transform: translate(90%, 0);
          transform: translate(90%, 0);
}

footer .footer-container {
  width: 83%;
  height: 57.6vh;
  overflow: hidden;
  margin-top: 3.7vh;
}

footer .footer-container h2 {
  font-size: 1.875vw;
  text-align: start;
  line-height: 4.53vh;
  letter-spacing: 0.15em;
  margin-bottom: 6.48vh;
}

footer .footer-container article {
  width: 100%;
  height: 43.99vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

footer .footer-container article h3 {
  font-size: 1.354vw;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.15em;
}

footer .footer-container article .inf-detil {
  font-size: 1.146vw;
  text-align: start;
  line-height: 2.78vh;
  letter-spacing: 0.15em;
  padding-left: 28px;
}

footer .footer-container article .inf-detil > div:nth-child(2) {
  padding-left: 3.151vw;
}

footer .footer-container article .open-detil {
  width: 12.4vw;
  height: 100%;
  padding-left: 18px;
}

footer .footer-container article .open-detil .date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 1.146vw;
  text-align: center;
  line-height: 2.78vh;
  letter-spacing: 0.15em;
}

footer .footer-container article .open-detil .date-box .date-box {
  width: 4.17vw;
  height: 3.7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #ffffff 1px solid;
  border-radius: 60px;
}

footer .footer-container article .open-detil .date-box span {
  width: 3.125vw;
  height: 3.7vh;
  line-height: 3.7vh;
}

footer .footer-container article .open-detil time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.146vw;
  text-align: center;
  line-height: 2.78vh;
  letter-spacing: 0.15em;
  padding-top: 13px;
}

footer .footer-container > p {
  font-size: 1.146vw;
  text-align: center;
  line-height: 2.78vh;
  letter-spacing: 0.05em;
  margin: 0;
}
/*# sourceMappingURL=index-stanley.css.map */