header nav ul li a {
  position: relative;
  width: 50%;
  display: flex;
  color: #FBE6C3;
  font-weight: 500;
  font-size: 1.625rem;
  letter-spacing: 0.3em;
}

header nav ul li a .icon {
  position: relative;
  display: block;
  min-width: 40px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

header nav ul li a .title {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

main .news-page-container .news-title::before {
  width: 60px;
  height: 60px;
  content: '';
  position: absolute;
  background: #D28E76;
  border-radius: 5px;
  transform: translate(-50px, -20px);
  z-index: -1;
}

main .news-page-container .news-title span::before {
  content: '';
  position: absolute;
  left: 0;
  transform: translate(-15%, -80%) rotate(90deg);
  letter-spacing: 0.1em;
}

main .news-page-container article .news-date .date-btns button {
  min-width: 50px;
  height: 30px;
  border-radius: 6px;
  border: 0;
  margin: 16px 8px 0 0;
  background-color: #F2F2F2;
  color: #96422D;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.2em;
  cursor: pointer;
}

main .news-page-container article .content-title button {
  height: 20px;
  margin: 15px 0 0 18px;
  border: 0;
  background-color: #FFFCF4;
  font-size: 15px;
  color: #54291c;
  text-shadow: 0 2px #C4C4C4;
  cursor: pointer;
}

main .news-page-container article .content-infs .content-inf {
  width: 100%;
  height: 100px;
  position: relative;
  margin-top: 20px;
  display: flex;
  border-radius: 6px;
  background-color: #F2F2F2;
  cursor: pointer;
}

main .news-page-container article .content-infs .content-inf::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 100px;
  left: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #D28E76;
}

main .news-page-container .aside .aside-tab {
  width: 180px;
  height: 60px;
  border: 0;
  margin-left: 30px;
  background-color: #C4C4C4;
  font-size: 1.375rem;
  line-height: 30px;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #333333;
  box-shadow: 1px 1px 3px #596E79;
  text-align: center;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 20px solid #54291c;
  background-color: #FFFCF4;
  font-family: 'Noto Sans', sans-serif;
  color: #54291c;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #54291c;
}

a:hover {
  text-decoration: none;
  color: #54291c;
}

h2 {
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.logo-img {
  position: absolute;
  top: 50px;
  right: 250px;
}

.logo-text {
  position: absolute;
  top: 50px;
  right: 50px;
}

#goTopButton {
  width: 80px;
  height: 80px;
  font-size: 1.375rem;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0.1em;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  color: #596E79;
}

#goTopButton::after {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: 'Top';
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  transform: translate(-20px, -20px);
  z-index: 50;
}

header nav {
  width: 37px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  background-color: #54291c;
  box-shadow: 0 5px 15px;
  overflow: hidden;
  transition: 1s;
}

header nav ul {
  display: none;
  width: 20%;
  padding: 0;
  z-index: 20;
  list-style: none;
}

header nav ul li {
  position: relative;
  width: 100%;
  border-radius: 10px;
}

header nav ul li:hover {
  background-color: #efefef;
}

header nav ul li:hover a {
  color: rgba(84, 41, 28, 0.9);
  font-weight: bold;
}

header nav .nav-img {
  width: 110px;
  height: 109px;
  display: none;
  right: 7%;
  bottom: 8%;
  background-image: url(../img/logo-bg-img.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

header nav.active {
  width: 50vw;
  height: 100vh;
  background-color: rgba(84, 41, 28, 0.9);
}

header .toggle {
  width: 30px;
  height: 80vh;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
}

header .toggle::before {
  width: 12.5px;
  height: 25px;
  content: "";
  position: absolute;
  left: 15%;
  top: 50%;
  background-image: url(../img/nav-right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 20px;
  text-align: center;
}

header .toggle.active {
  height: 100vh;
}

header .toggle.active::before {
  top: 50%;
  background-image: url(../img/nav-left.png);
}

header .ulbar.active {
  display: block;
}

header .nav-img.active {
  display: block;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .news-page-container {
  width: 65vw;
  height: 100%;
  padding: 250px 0;
}

main .news-page-container .news-title {
  position: relative;
  padding-left: 60px;
}

main .news-page-container .news-title h2 {
  font-size: 2.8125rem;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.3em;
}

main .news-page-container .news-title span {
  font-size: 1.5rem;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

main .news-page-container .news-title span::before {
  content: 'News';
}

main .news-page-container .aside {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  padding-right: 30px;
}

main .news-page-container .aside .aside-tab:hover {
  background-color: #d1d1d1;
}

main .news-page-container .aside .aside-tab:active {
  background-color: #AB3030;
  color: #ffffff;
}

main .news-page-container .aside .aside-tab-focus {
  background-color: #AB3030;
  color: #ffffff;
}

main .news-page-container .aside .aside-tab-focus:hover {
  background-color: #bf3636;
}

main .news-page-container article {
  padding: 80px 0 0 32px;
}

main .news-page-container article .news-date {
  margin-bottom: 70px;
}

main .news-page-container article .news-date .date-title {
  width: 100px;
  height: 30px;
  font-size: 1rem;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.2em;
  border-radius: 6px;
  background-color: #54291c;
  color: #FBE6C3;
}

main .news-page-container article .news-date .date-btns {
  display: flex;
  justify-content: start;
  align-items: center;
}

main .news-page-container article .news-date .date-btns .focus-change {
  background-color: #D28E76;
  color: #ffffff;
}

main .news-page-container article .news-date .date-btns button:hover {
  background-color: #D28E76;
  color: #ffffff;
}

main .news-page-container article .content-title {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  margin-bottom: 60px;
}

main .news-page-container article .content-title h4 {
  font-size: 2.8125rem;
  text-align: center;
  line-height: 60px;
  letter-spacing: 0.2em;
  position: relative;
  padding-left: 11px;
  margin: 0;
}

main .news-page-container article .content-title h4::before {
  width: 122px;
  height: 24px;
  content: '';
  position: absolute;
  bottom: 0;
  transform: translate(-10%, -50%);
  border-radius: 6px;
  background-color: #FBE6C3;
  z-index: -1;
}

main .news-page-container article .content-title div {
  font-size: 1.125rem;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.2em;
  margin-left: 20px;
  padding-top: 15px;
  font-weight: bold;
}

main .news-page-container article .content-title button:hover {
  color: #96422D;
}

main .news-page-container article .content-title button:active {
  box-shadow: 0 0 #C4C4C4;
  transform: translateY(1px);
}

main .news-page-container article .content-title select {
  height: 40px;
  position: absolute;
  right: 20px;
  padding-left: 5px;
  border: 0;
  outline: none;
  border-radius: 4px;
  background-color: #D28E76;
  font-size: 1.375rem;
  font-weight: bold;
  color: #FFFCF4;
  cursor: pointer;
}

main .news-page-container article .content-title select option.decorated:hover {
  background-color: #fff;
}

main .news-page-container article .content-infs .content-inf {
  box-shadow: 0 3px #C4C4C4;
}

main .news-page-container article .content-infs .content-inf:hover {
  background-color: #E0E0E0;
}

main .news-page-container article .content-infs .content-inf:hover::before {
  background-color: #cc7e63;
}

main .news-page-container article .content-infs .content-inf:active {
  box-shadow: none;
  transform: translateY(3px);
  color: #ffffff;
}

main .news-page-container article .content-infs .content-inf .inf-date {
  width: 107px;
  height: 100%;
  padding-left: 38px;
  font-weight: bold;
}

main .news-page-container article .content-infs .content-inf .inf-date .during {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 5px;
}

main .news-page-container article .content-infs .content-inf .inf-date .during .end-date {
  font-size: 0.75rem;
  text-align: start;
  line-height: 20px;
  letter-spacing: 0.2em;
  padding: 0 0 5px 10px;
}

main .news-page-container article .content-infs .content-inf .inf-date > span {
  font-size: 1.125rem;
  text-align: start;
  line-height: 20px;
  letter-spacing: 0.2em;
}

main .news-page-container article .content-infs .content-inf h5 {
  font-size: 1.75rem;
  text-align: start;
  line-height: 100px;
  letter-spacing: 0.2em;
  flex: 1;
  padding-left: 20px;
  margin: 0;
}

main .news-page-container article .content-infs .content-inf > i {
  width: 80px;
  height: 100%;
  font-size: 1.375rem;
  text-align: start;
  line-height: 100px;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-left: 15px;
  font-size: 16px;
}

main .news-page-container article .content-infs .inf-detail {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #F2F2F2;
  font-weight: bold;
  transition: 0.6s ease-in-out;
}

main .news-page-container article .content-infs .inf-detail > span {
  display: block;
  padding: 25px 0 0 3.5vh;
  font-weight: bold;
}

main .news-page-container article .content-infs .inf-detail .card-body {
  padding: 40px 4.7vw 0;
}

main .news-page-container article .content-infs .inf-detail .card-body .card-imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .news-page-container article .content-infs .inf-detail .card-body .card-imgs figure {
  width: 26vw;
  height: 15vw;
  background-repeat: no-repeat;
}

main .news-page-container article .content-infs .inf-detail .card-body .card-content {
  font-size: 1.125rem;
  text-align: start;
  line-height: 30px 0.2em;
  letter-spacing: 0.1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 55px 50px 0 50px;
}

main .news-page-container article .content-infs .inf-detail .card-body .card-content span {
  display: block;
  padding: 0;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf {
  display: grid;
  grid-row: 2;
  grid-template-columns: repeat(2, 1fr);
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.75rem;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.2em;
  padding-left: 7.5vw;
  font-weight: bold;
  height: 140px;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div i {
  margin-right: 10px;
  font-size: 1.625rem;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div time {
  padding-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  line-height: 20px;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div > img {
  margin-left: 30px;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div span {
  padding: 0;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div a {
  display: flex;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div a:hover {
  border-bottom: 3px solid #54291c;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div:nth-child(1),
main .news-page-container article .content-infs .inf-detail .card-other-inf > div:nth-child(2) {
  border-top: 3px solid #FFFCF4;
  border-bottom: 3px solid #FFFCF4;
}

main .news-page-container article h3 {
  font-size: 2.8125rem;
  text-align: start;
  line-height: 60px;
  letter-spacing: 0.2em;
  margin: 275px 0 15px 0;
  font-family: 'Noto Sans TC', sans-serif;
}

main .news-page-container article .inf-focus {
  box-shadow: 0 0 0 white !important;
  background-color: #C4C4C4 !important;
  color: #ffffff;
}

footer {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #596E79;
  position: relative;
  color: #ffffff;
}

footer .footer-logo-img {
  position: absolute;
  top: 550px;
  left: 160px;
  transform: translate(0, 0);
}

footer .footer-logo-text {
  position: absolute;
  top: 550px;
  left: 160px;
  transform: translate(90%, 0);
}

footer .footer-container {
  width: 83%;
  height: 622px;
  overflow: hidden;
  margin-top: 40px;
}

footer .footer-container h2 {
  font-size: 2.25rem;
  text-align: start;
  line-height: 49px;
  letter-spacing: 0.15em;
  margin-bottom: 70px;
}

footer .footer-container article {
  width: 100%;
  height: 519px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer .footer-container article h3 {
  font-size: 1.625rem;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.15em;
}

footer .footer-container article .inf-detil {
  font-size: 1.375rem;
  text-align: start;
  line-height: 30px;
  letter-spacing: 0.15em;
  padding-left: 28px;
}

footer .footer-container article .inf-detil > div:nth-child(2) {
  padding-left: 60.5px;
}

footer .footer-container article .open-detil {
  width: 238px;
  height: 100%;
  padding-left: 18px;
}

footer .footer-container article .open-detil .date-box {
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: 1.375rem;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.15em;
}

footer .footer-container article .open-detil .date-box .date-box {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ffffff 1px solid;
  border-radius: 60px;
}

footer .footer-container article .open-detil .date-box span {
  width: 60px;
  height: 40px;
  line-height: 40px;
}

footer .footer-container article .open-detil time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.15em;
  padding-top: 13px;
}

footer .footer-container > p {
  font-size: 1.375rem;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.05em;
}
