header nav ul li a {
  padding-left: 0.521vw;
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FBE6C3;
  font-weight: 500;
  font-size: 1.354vw;
  letter-spacing: 0.3em;
}

header nav ul li a .icon {
  position: relative;
  display: block;
  min-width: 2.08vw;
  height: 5.56vh;
  line-height: 5.56vh;
  text-align: center;
}

header nav ul li a .title {
  position: relative;
  display: block;
  height: 5.56vh;
  line-height: 5.56vh;
  white-space: nowrap;
}

main .news-page-container .news-title::before {
  width: 3.125vw;
  height: 3.125vw;
  content: '';
  position: absolute;
  background: #D28E76;
  border-radius: 5px;
  -webkit-transform: translate(-2.6vw, -1.85vh);
          transform: translate(-2.6vw, -1.85vh);
  z-index: -1;
}

main .news-page-container .news-title span::before {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform: translate(-15%, -80%) rotate(90deg);
          transform: translate(-15%, -80%) rotate(90deg);
  letter-spacing: 0.1em;
}

main .news-page-container article .news-date .date-btns button {
  min-width: 2.6vw;
  height: 2.78vh;
  border-radius: 6px;
  border: 0;
  margin: 1.48vh 0.42vw 0 0;
  background-color: #F2F2F2;
  color: #96422D;
  font-size: 0.625vw;
  font-weight: bold;
  text-align: center;
  line-height: 2.78vh;
  letter-spacing: 0.2em;
  cursor: pointer;
}

main .news-page-container article .content-infs .content-inf {
  width: 100%;
  height: 9.26vh;
  position: relative;
  margin-top: 1.85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  background-color: #F2F2F2;
  cursor: pointer;
}

main .news-page-container article .content-infs .content-inf::before {
  content: '';
  position: absolute;
  width: 1.04vw;
  height: 9.26vh;
  left: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #D28E76;
}

main .news-page-container .aside .aside-tab {
  width: 9.375vw;
  height: 5.56vh;
  border: 0;
  margin-left: 1.5625vw;
  background-color: #C4C4C4;
  font-size: 1.146vw;
  line-height: 2.78vh;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #333333;
  -webkit-box-shadow: 1px 1px 3px #596E79;
          box-shadow: 1px 1px 3px #596E79;
  text-align: center;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 20px solid #54291c;
  background-color: #FFFCF4;
  font-family: 'Noto Sans', sans-serif;
  color: #54291c;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #54291c;
}

a:hover {
  text-decoration: none;
  color: #54291c;
}

h2 {
  margin: 0;
}

figure {
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.logo-img {
  width: 5.729vw;
  height: 5.729vw;
  position: absolute;
  top: 2.8vw;
  right: 11.5vw;
}

.logo-text {
  width: 7.552vw;
  height: 4.48vw;
  position: absolute;
  top: 3.8vw;
  right: 2.6vw;
}

#goTopButton {
  width: 80px;
  height: 80px;
  font-size: 1.146vw;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0.1em;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  color: #596E79;
}

#goTopButton::after {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: 'Top';
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: fixed;
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
  z-index: 50;
}

header nav {
  width: 37px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 10px;
  background-color: #54291c;
  -webkit-box-shadow: 0 5px 15px;
          box-shadow: 0 5px 15px;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

header nav ul {
  display: none;
  width: 20%;
  padding: 0;
  z-index: 20;
  list-style: none;
}

header nav ul li {
  position: relative;
  width: 100%;
  border-radius: 10px;
}

header nav ul li:hover {
  background-color: #efefef;
}

header nav ul li:hover a {
  color: rgba(84, 41, 28, 0.9);
  font-weight: bold;
}

header nav .nav-img {
  width: 110px;
  height: 109px;
  display: none;
  right: 7%;
  bottom: 8%;
  background-image: url(../img/logo-bg-img.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

header nav.active {
  width: 50vw;
  height: 100vh;
  background-color: rgba(84, 41, 28, 0.9);
}

header .toggle {
  width: 30px;
  height: 80vh;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
}

header .toggle::before {
  width: 12.5px;
  height: 25px;
  content: "";
  position: absolute;
  left: 15%;
  top: 50%;
  background-image: url(../img/nav-right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 20px;
  text-align: center;
}

header .toggle.active {
  height: 100vh;
}

header .toggle.active::before {
  top: 50%;
  background-image: url(../img/nav-left.png);
}

header .ulbar.active {
  display: block;
}

header .nav-img.active {
  display: block;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .news-page-container {
  width: 65vw;
  height: 100%;
  padding: 10.02vw 0;
}

main .news-page-container .news-title {
  position: relative;
  padding-left: 3.125vw;
}

main .news-page-container .news-title h2 {
  font-size: 2.34vw;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.3em;
}

main .news-page-container .news-title span {
  font-size: 1.25vw;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

main .news-page-container .news-title span::before {
  content: 'News';
}

main .news-page-container .aside {
  width: 100%;
  height: 5.56vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.7vh;
  padding-right: 1.5625vw;
}

main .news-page-container .aside .aside-tab:hover {
  background-color: #d1d1d1;
}

main .news-page-container .aside .aside-tab:active {
  background-color: #AB3030;
  color: #ffffff;
}

main .news-page-container .aside .aside-tab-focus {
  background-color: #AB3030;
  color: #ffffff;
}

main .news-page-container .aside .aside-tab-focus:hover {
  background-color: #bf3636;
}

main .news-page-container article {
  padding: 7.4vh 0 0 1.67vw;
}

main .news-page-container article .news-date {
  margin-bottom: 6.48vh;
}

main .news-page-container article .news-date .date-title {
  width: 5.21vw;
  height: 2.78vh;
  font-size: 0.833vw;
  text-align: center;
  line-height: 2.78vh;
  letter-spacing: 0.2em;
  border-radius: 6px;
  background-color: #54291c;
  color: #FBE6C3;
}

main .news-page-container article .news-date .date-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .news-page-container article .news-date .date-btns .focus-change {
  background-color: #D28E76;
  color: #ffffff;
}

main .news-page-container article .news-date .date-btns button:hover {
  background-color: #D28E76;
  color: #ffffff;
}

main .news-page-container article .content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 5.56vh;
}

main .news-page-container article .content-title h4 {
  font-size: 2.34vw;
  text-align: center;
  line-height: 5.56vh;
  letter-spacing: 0.2em;
  position: relative;
  padding-left: 11px;
  margin: 0;
}

main .news-page-container article .content-title h4::before {
  width: 6.35vw;
  height: 2.22vh;
  content: '';
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
  border-radius: 6px;
  background-color: #FBE6C3;
  z-index: -1;
}

main .news-page-container article .content-title .month {
  font-size: 0.9375vw;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.2em;
  margin-left: 1.04vw;
  padding-top: 1.39vh;
  font-weight: bold;
}

main .news-page-container article .content-title .years {
  font-size: 0.9375vw;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.2em;
  margin-left: 1.04vw;
  padding-top: 1.39vh;
  font-weight: bold;
  margin: 0;
}

main .news-page-container article .content-title .custom-select-list {
  width: 11.2vw;
  height: 3.7vh;
  display: none;
  position: absolute;
  right: 1.041vw;
  top: 0.926vh;
}

main .news-page-container article .content-title .custom-select-list:hover::after {
  -webkit-transform: translate(-1.041vw, -0.625vh);
          transform: translate(-1.041vw, -0.625vh);
}

main .news-page-container article .content-title .custom-select-list::after {
  width: 1.5vw;
  height: 1.11vh;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(-1.041vw, -1.25vh);
          transform: translate(-1.041vw, -1.25vh);
  background-image: url(../img/select-down.png);
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

main .news-page-container article .content-title .custom-select-list select {
  display: none;
}

main .news-page-container article .content-title .select-items div,
main .news-page-container article .content-title .select-selected {
  width: 11.2vw;
  height: 3.7vh;
  padding: 0 0 0 0.625vw;
  background-color: #D28E76;
  color: #ffffff;
  text-align: start;
  cursor: pointer;
  letter-spacing: 0.1em;
  line-height: 3.7vh;
}

main .news-page-container article .content-title .select-items div:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

main .news-page-container article .content-title .select-selected {
  border-radius: 4px;
}

main .news-page-container article .content-title .select-selected-focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

main .news-page-container article .content-title .select-items {
  position: absolute;
  padding: 0;
  z-index: 999;
}

main .news-page-container article .content-title .select-hide {
  display: none;
}

main .news-page-container article .content-title .select-items div:hover::before {
  width: 11.2vw;
  height: 3.7vh;
  content: '';
  position: absolute;
  -webkit-transform: translateX(-0.625vw);
          transform: translateX(-0.625vw);
  background-color: #ffffff;
  opacity: 0.5;
}

main .news-page-container article .content-title .select-items .active::before {
  width: 11.2vw;
  height: 3.7vh;
  content: '';
  position: absolute;
  -webkit-transform: translateX(-0.625vw);
          transform: translateX(-0.625vw);
  background-color: #ffffff;
  opacity: 0.2;
}

main .news-page-container article .content-infs .content-inf {
  -webkit-box-shadow: 0 3px #C4C4C4;
          box-shadow: 0 3px #C4C4C4;
}

main .news-page-container article .content-infs .content-inf:hover {
  background-color: #E0E0E0;
}

main .news-page-container article .content-infs .content-inf:hover::before {
  background-color: #cc7e63;
}

main .news-page-container article .content-infs .content-inf:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  color: #ffffff;
}

main .news-page-container article .content-infs .content-inf .inf-date {
  width: 5.57vw;
  height: 100%;
  padding-left: 1.98vw;
  font-weight: bold;
}

main .news-page-container article .content-infs .content-inf .inf-date .during {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

main .news-page-container article .content-infs .content-inf .inf-date .during .end-date {
  font-size: 0.625vw;
  text-align: start;
  line-height: 1.85vh;
  letter-spacing: 0.2em;
  padding: 0 0 5px 0.521vw;
}

main .news-page-container article .content-infs .content-inf .inf-date > span {
  font-size: 0.9375vw;
  text-align: start;
  line-height: 1.85vh;
  letter-spacing: 0.2em;
}

main .news-page-container article .content-infs .content-inf h5 {
  font-size: 1.458vw;
  text-align: start;
  line-height: 9.26vh;
  letter-spacing: 0.2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1.041vw;
  margin: 0;
}

main .news-page-container article .content-infs .content-inf > i {
  width: 4.17vw;
  height: 100%;
  font-size: 1.146vw;
  text-align: start;
  line-height: 9.26vh;
  letter-spacing: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.56vw;
  margin-left: 0.78vw;
  font-size: 0.833vw;
}

main .news-page-container article .content-infs .inf-detail {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #F2F2F2;
  font-weight: bold;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

main .news-page-container article .content-infs .inf-detail > span {
  display: block;
  padding: 2.31vh 0 0 3.5vh;
  font-weight: bold;
}

main .news-page-container article .content-infs .inf-detail .card-body {
  padding: 3.7vh 4.7vw 0;
}

main .news-page-container article .content-infs .inf-detail .card-body .card-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .news-page-container article .content-infs .inf-detail .card-body .card-imgs figure {
  width: 26vw;
  height: 15vw;
  background-repeat: no-repeat;
}

main .news-page-container article .content-infs .inf-detail .card-body .card-content {
  font-size: 0.9375vw;
  text-align: start;
  line-height: 2.78vh 0.2em;
  letter-spacing: 0.1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 5.09vh 2.6vw 0 2.6vw;
}

main .news-page-container article .content-infs .inf-detail .card-body .card-content span {
  display: block;
  padding: 0;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.625vw;
  text-align: center;
  line-height: 2.78vh;
  letter-spacing: 0.2em;
  padding-left: 7.5vw;
  font-weight: bold;
  height: 12.96vh;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div i {
  margin-right: 10px;
  font-size: 1.354vw;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div time {
  padding-top: 1.85vh;
  margin-left: 1.56vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: flex-end;
  line-height: 1.85vh;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div > img {
  margin-left: 1.56vw;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div span {
  padding: 0;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div a:hover {
  border-bottom: 3px solid #54291c;
}

main .news-page-container article .content-infs .inf-detail .card-other-inf > div:nth-child(1),
main .news-page-container article .content-infs .inf-detail .card-other-inf > div:nth-child(2) {
  border-top: 3px solid #FFFCF4;
  border-bottom: 3px solid #FFFCF4;
}

main .news-page-container article h3 {
  font-size: 2.34vw;
  text-align: start;
  line-height: 60px;
  letter-spacing: 0.2em;
  margin: 25.46vh 0 1.39vh 0;
  font-family: 'Noto Sans TC', sans-serif;
}

main .news-page-container article .inf-focus {
  -webkit-box-shadow: 0 0 0 white !important;
          box-shadow: 0 0 0 white !important;
  background-color: #C4C4C4 !important;
  color: #ffffff;
}

main .news-page-container article .feast-photo-wall {
  padding: 1.85vh 1.56vw 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  display: none;
}

main .news-page-container article .feast-photo-wall figure {
  width: 18.65vw;
  height: 10.14vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px #596E79;
          box-shadow: 0 0 3px #596E79;
}

main .news-page-container article .feast-photo-wall figure:hover .figure-hover-appear {
  opacity: 0.9;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

main .news-page-container article .feast-photo-wall figure .figure-hover-appear {
  width: 100%;
  height: 100%;
  font-size: 1.146vw;
  text-align: center;
  line-height: 10.65vw;
  letter-spacing: 0.1em;
  position: absolute;
  background-color: #AB3030;
  color: #FFFCF4;
  opacity: 0;
}

footer {
  width: 100%;
  height: 64.81vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #596E79;
  position: relative;
  color: #ffffff;
}

footer .footer-logo-img {
  width: 4.84vw;
  height: 4.84vw;
  position: absolute;
  top: 50.92vh;
  left: 8.3vw;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

footer .footer-logo-text {
  width: 7.55vw;
  height: 4.48vw;
  position: absolute;
  top: 50.92vh;
  left: 8.3vw;
  -webkit-transform: translate(90%, 0);
          transform: translate(90%, 0);
}

footer .footer-container {
  width: 83%;
  height: 57.6vh;
  overflow: hidden;
  margin-top: 3.7vh;
}

footer .footer-container h2 {
  font-size: 1.875vw;
  text-align: start;
  line-height: 4.53vh;
  letter-spacing: 0.15em;
  margin-bottom: 6.48vh;
}

footer .footer-container article {
  width: 100%;
  height: 43.99vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

footer .footer-container article h3 {
  font-size: 1.354vw;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.15em;
}

footer .footer-container article .inf-detil {
  font-size: 1.146vw;
  text-align: start;
  line-height: 2.78vh;
  letter-spacing: 0.15em;
  padding-left: 28px;
}

footer .footer-container article .inf-detil > div:nth-child(2) {
  padding-left: 3.151vw;
}

footer .footer-container article .open-detil {
  width: 12.4vw;
  height: 100%;
  padding-left: 18px;
}

footer .footer-container article .open-detil .date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 1.146vw;
  text-align: center;
  line-height: 2.78vh;
  letter-spacing: 0.15em;
}

footer .footer-container article .open-detil .date-box .date-box {
  width: 4.17vw;
  height: 3.7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #ffffff 1px solid;
  border-radius: 60px;
}

footer .footer-container article .open-detil .date-box span {
  width: 3.125vw;
  height: 3.7vh;
  line-height: 3.7vh;
}

footer .footer-container article .open-detil time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.146vw;
  text-align: center;
  line-height: 2.78vh;
  letter-spacing: 0.15em;
  padding-top: 13px;
}

footer .footer-container > p {
  font-size: 1.146vw;
  text-align: center;
  line-height: 2.78vh;
  letter-spacing: 0.05em;
  margin: 0;
}
/*# sourceMappingURL=news.page.css.map */