.store .store-container .store-title::before, .view .view-container .view-title::before, .traffic .traffic-container .traffic-title::before, .contact .contact-container .contact-title::before {
  content: '';
  position: absolute;
  background: #D28E76;
  border-radius: 5px;
}

.store .store-container .store-title span::before, .view .view-container .view-title span::before, .traffic .traffic-container .traffic-title span::before, .contact .contact-container .contact-title span::before {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform: translate(-15%, -80%) rotate(90deg);
          transform: translate(-15%, -80%) rotate(90deg);
  letter-spacing: 0.1em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FFFCF4;
  font-family: 'Noto Sans', sans-serif;
  color: #54291c;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex start;
      -ms-flex-pack: flex start;
          justify-content: flex start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 50;
}

header .container {
  width: 100%;
  position: relative;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37px;
  height: 80vh;
  background-color: #54291c;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 15px;
          box-shadow: 0 5px 15px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.nav ul {
  display: none;
  width: 20%;
  z-index: 20;
}

.nav ul li {
  position: relative;
  list-style: none;
  width: 100%;
}

.nav ul li:hover {
  background-color: #efefef;
}

.nav ul li:hover a {
  color: rgba(84, 41, 28, 0.9);
}

.nav ul li a {
  position: relative;
  display: block;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #FBE6C3;
  font-weight: 500;
  font-size: 1.625rem;
  letter-spacing: 0.3em;
}

.nav ul li a .icon {
  position: relative;
  display: block;
  min-width: 40px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.nav ul li a .title {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.nav .nav-img {
  display: none;
  width: 110px;
  height: 109px;
  background-image: url(../img/logo-bg-img.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 7%;
  bottom: 8%;
}

.nav.active {
  width: 50%;
  height: 100vh;
  background-color: rgba(84, 41, 28, 0.9);
}

.toggle {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 80vh;
  background: none;
  cursor: pointer;
}

.toggle::before {
  content: "";
  position: absolute;
  left: 15%;
  top: 9%;
  width: 12.5px;
  height: 25px;
  background-image: url(../img/nav-right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 20px;
  text-align: center;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.toggle.active {
  height: 100vh;
}

.toggle.active::before {
  top: 17%;
  background-image: url(../img/nav-left.png);
}

.ulbar.active {
  display: block;
}

.nav-img.active {
  display: block;
}

.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-img {
  position: absolute;
  top: 50px;
  right: 250px;
}

.logo-text {
  position: absolute;
  top: 50px;
  right: 50px;
}

.store {
  width: 100%;
  height: 100vh;
  border: 20px solid #54291c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.store .store-container {
  width: 80vw;
  height: 68vh;
}

.store .store-container .store-title {
  position: relative;
  padding-left: 60px;
}

.store .store-container .store-title::before {
  width: 60px;
  height: 60px;
  -webkit-transform: translate(-50px, -20px);
          transform: translate(-50px, -20px);
  z-index: -1;
}

.store .store-container .store-title h2 {
  font-size: 2.8125rem;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.3em;
}

.store .store-container .store-title span {
  font-size: 1.5rem;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

.store .store-container .store-title span::before {
  content: 'SHOP';
}

.view {
  width: 100%;
  height: 100vh;
  border: 20px solid #54291c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.view .view-container {
  width: 80vw;
  height: 68vh;
}

.view .view-container .view-title {
  position: relative;
  padding-left: 60px;
}

.view .view-container .view-title::before {
  width: 60px;
  height: 60px;
  -webkit-transform: translate(-50px, -20px);
          transform: translate(-50px, -20px);
  z-index: -1;
}

.view .view-container .view-title h2 {
  font-size: 2.8125rem;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.3em;
}

.view .view-container .view-title span {
  font-size: 1.5rem;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

.view .view-container .view-title span::before {
  content: 'About';
}

.traffic {
  width: 100%;
  height: 100vh;
  border: 20px solid #54291c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.traffic .traffic-container {
  width: 80vw;
  height: 68vh;
}

.traffic .traffic-container .traffic-title {
  position: relative;
  padding-left: 60px;
}

.traffic .traffic-container .traffic-title::before {
  width: 60px;
  height: 60px;
  -webkit-transform: translate(-50px, -20px);
          transform: translate(-50px, -20px);
  z-index: -1;
}

.traffic .traffic-container .traffic-title h2 {
  font-size: 2.8125rem;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.3em;
}

.traffic .traffic-container .traffic-title span {
  font-size: 1.5rem;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

.traffic .traffic-container .traffic-title span::before {
  content: 'About';
}

.contact {
  width: 100%;
  height: 100vh;
  border: 20px solid #54291c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contact .contact-container {
  width: 80vw;
  height: 68vh;
}

.contact .contact-container .contact-title {
  position: relative;
  padding-left: 60px;
}

.contact .contact-container .contact-title::before {
  width: 60px;
  height: 60px;
  -webkit-transform: translate(-50px, -20px);
          transform: translate(-50px, -20px);
  z-index: -1;
}

.contact .contact-container .contact-title h2 {
  font-size: 2.8125rem;
  text-align: start;
  line-height: inherit;
  letter-spacing: 0.3em;
}

.contact .contact-container .contact-title span {
  font-size: 1.5rem;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.1em;
}

.contact .contact-container .contact-title span::before {
  content: 'About';
}
/*# sourceMappingURL=index-kg.css.map */